[2012-10-03 10:34] andreareginato opened #2 "How to describe your methods"
Write your thoughts about the "[how to describe your methods](http://betterspecs.org/#describe)" best practice.

[2012-10-03 10:37] andreareginato opened #3 "Use contexts"
Write your thoughts about the "[use contexts](http://betterspecs.org/#contexts)" best practice.

[2012-10-03 10:38] andreareginato opened #4 "Keep your description short"
Write your thoughts about the "[keep your description short](http://betterspecs.org/#short)" best practice.

[2012-10-03 10:38] andreareginato opened #5 "Single expectation test"
Write your thoughts about the "[single expectation test](http://betterspecs.org/#single)" best practice.

[2012-10-03 10:39] andreareginato opened #6 "Test all possible cases"
Write your thoughts about the "[Test all possible cases](http://betterspecs.org/#all)" best practice.

[2012-10-03 10:40] andreareginato opened #7 "Use subject"
Write your thoughts about the "[use subject](http://betterspecs.org/#subject)" best practice.

[2012-10-03 10:41] andreareginato opened #8 "Use let and let!"
Write your thoughts about the "[use let and let!](http://betterspecs.org/#let)" best practice.

[2012-10-03 10:42] andreareginato opened #9 "Mock or not to mock"
Write your thoughts about the "[mock or not to mock](http://betterspecs.org/#mock)" best practice.

[2012-10-03 10:43] andreareginato opened #10 "Create only tha data you need"
Write your thoughts about the "[create only the data you need](http://betterspecs.org/#data)" best practice.

[2012-10-03 10:44] andreareginato opened #11 "Use factories and not fixtures"
Write your thoughts about the "[use factories and not fixtures](http://betterspecs.org/#factories)" best practice.

[2012-10-03 10:45] andreareginato opened #12 "Easy to read matcher"
Write your thoughts about the "[Easy to read matcher](http://betterspecs.org/#matchers)" best practice.

[2012-10-03 10:45] andreareginato opened #13 "Shared Examples"
Write your thoughts about the "[shared examples](http://betterspecs.org/#sharedexamples)" best practice.

[2012-10-03 10:46] andreareginato opened #14 "Test what you see"
Write your thoughts about the "[test what you see](http://betterspecs.org/#integration)" best practice.

[2012-10-03 10:46] andreareginato opened #15 "Don't use should"
Write your thoughts about the "[don't use should](http://betterspecs.org/#should)" best practice.

[2012-10-03 10:47] andreareginato opened #16 "Automatic tests with guard"
Write your thoughts about the "[automatic tests with guard](http://betterspecs.org/#guard)" best practice.

[2012-10-03 10:48] andreareginato opened #17 "Faster tests with spork"
Write your thoughts about the "[faster tests with spork  ](http://betterspecs.org/#spork)" best practice.

[2012-10-03 10:49] andreareginato opened #18 "Mocking HTTP requests"
Write your thoughts about the "[mocking HTTP requests  ](http://betterspecs.org/#http)" best practice.

[2012-10-03 10:50] andreareginato opened #19 "Useful formatter"
Write your thoughts about the "[useful formatter](http://betterspecs.org/#formatter)" best practice.

[2012-10-03 11:06] andreareginato opened #20 "Multilanguage"
Add translations to different languages.

[2012-10-03 14:25] thbar opened #23 "Creating a quizz based on the questions"
Hello!

it could be very engaging/fun for people to answer a quizz based on the questions that you would have in the best practices "database", and compute a score based on their correct results etc, so that people can evaluate themselves and improve over time.

Obviously for this to work, you would have to stick to best practices that are rather universally agreed upon as being the best option, r

[2012-10-04 09:41] otobrglez opened #29 "Add existing matchers and helpers to RSpec"
You want your specs to be short and sweet. Sometimes some libs provide custom matchers and helpers that can make your "testing life" easy.

[code]

After extending your `RSpec.configure` block with some methods.

[code]

You can just write.

[code]

Same goes for `Rack::Test::Methods` mixin.

[2012-10-05 09:08] mdesantis opened #31 "Add 'rspec best practices with ruby' in the html title tag"
Hello,

adding '{ rspec best practices with ruby }' (with or without braces) to the html title tag let people who manage his visited sites searchng the browser address bar (like me) to write 'rspec best practices' in the bar and find your site if they visited it before.

Moreover, it will increase the rank of the site in the google search 'rspec best practices'.

---

Per dirtela in una lingua com

[2012-10-06 16:50] dchelimsky opened #32 "Please use "guideline" instead of "best practice""
See http://www.satisfice.com/blog/archives/27 for background.

Nearly every one of the recommendations on betterspecs.org or good suggestions in specific contexts, and bad suggestions in other contexts. I'd recommend the term "guideline" instead.

[2012-10-06 17:38] #29 closed, assigned to nobody

[2012-10-06 17:42] #32 closed, assigned to nobody

[2012-10-08 14:17] NARKOZ opened #34 "link to rspec matchers"
I think [here](https://github.com/andreareginato/betterspecs/blob/master/content/index.html#L557) link is missed.

[2012-10-22 18:30] danbernier opened #41 "Code error in bad example for let/let! section"
[code]

I think the `@type` before-block means to reference `@resource`, not `resource`; I think this is a copy-paste error from the "good" example below.

[2012-12-06 12:39] hovsater opened #45 "Link missmatch for Affiliate books, Continuous-Testing."
It seems that the URL for **Continuous Testing: with Ruby, Rails, and JavaScript** is pointing to **The Cucumber Book: Behaviour-Driven Development for Testers and Developers**.

Either the URL should evaluate to http://www.amazon.com/Continuous-Testing-Ruby-Rails-JavaScript/dp/1934356700 or the image cover should be updated to reflect the cover of the correct book.

[2013-01-14 15:42] andreareginato opened #47 "Add links"
- [x] [Factorygirl tips](http://arjanvandergaag.nl/blog/factory_girl_tips.html?utm_source=rubyweekly&utm_medium=email)
- [x] [Shared example variables](https://www.relishapp.com/rspec/rspec-core/v/2-6/docs/example-groups/shared-examples)
- [x] [Do't make my code more testable](http://gmoeck.github.com/2012/07/09/dont-make-your-code-more-testable.html?utm_source=rubyweekly&utm_medium=email)

[2013-01-28 10:01] mikekchar opened #48 "License is unusable"
I know licensing can be a touchy issue, so I hope I don't offend anyone.  Currently the LICENSE.md file contains a simple copyright notice.  If no other license is granted, then I can't legally make a copy of this project or modify it for my own use.  Ideally I would like to fork this project and use it as part of the standards in my group.  I would like to modify it to apply to our group's standa

[2013-01-29 16:15] #48 closed, assigned to nobody

[2013-03-09 17:29] #41 closed, assigned to nobody

[2013-03-09 18:06] #45 closed, assigned to nobody

[2013-03-09 18:10] #34 closed, assigned to nobody

[2013-03-09 18:10] #31 closed, assigned to nobody

[2013-03-09 18:11] #23 closed, assigned to nobody

[2013-05-17 18:48] afeld opened #59 "link to method documentation"
E.g. if someone's never used `context` before, they will want to see other examples of how it's used.  I imagine in most cases this will link to the [RDoc](http://rubydoc.info/gems/rspec-core/file/README.md#shared_examples_and_contexts) and/or [Relish](https://www.relishapp.com/rspec/rspec-core/v/2-13/docs/example-groups/basic-structure-describe-it!#nested-example-groups-%28using-context%29) pages

[2013-06-04 16:01] andreareginato opened #65 "Add links swich different languages"
On the top menu (probably on the right) we need to insert the capability to choose different languages for better specs. Rght now we have korean and russian translations.

[2013-06-04 22:35] killthekitten opened #66 "Looking forward"
I finished translating betterspecs to russian language, and now I am sure, that it will be _very_ hard to support the whole app in future. Here is the list of things that I think will improve the awesomness of betterspecs.org:
- Layout must be DRY and reusable.
- Menu items must be auto-generated from headers instead of being inserted manualy.
- Same with social buttons.
- Same with additional inf

[2013-06-12 19:37] lucianosousa opened #68 "Random specs"
In order that capture related spec, I suggest put a topic about random specs.
I saw a lot of projects not using (and disabling this option from rspec)

[2013-07-09 14:13] muescha opened #78 "Redesign for better Multilanguage"
this issue is for putting together all ideas and people who want to make a good redesign.

(see #20 )

[2013-07-09 23:33] #66 closed, assigned to nobody

[2013-07-24 10:59] alexandru-calinoiu opened #82 "Q: Best practice for mocks expectations?"
Hi,

I was wondering what is the best practice for mocks expectations:

Instead of:

[code]

I am wirting

[code]

But I don't really like `it { expect`

[2013-08-07 20:24] maurogeorge opened #83 "Expect vs Should syntax"
In the [following text](http://myronmars.to/n/dev-blog/2013/07/the-plan-for-rspec-3#what_about_the_old_expectationmock_syntax) Myron says to use this on new projects.

You guys think this is a good section to better specs? I personaly have use this on new projects with configuration to use only new syntax.

[2014-05-19 11:59] geniou opened #109 "rubocop-rspec"
[rubocop-rspec](https://github.com/nevir/rubocop-rspec) (an extension to [rubocop](https://github.com/bbatsov/rubocop)) is a tool to check the code style of RSpec files. Maybe you can promote it somewhere on the betterspecs.org page?

Some of the rules of betterspecs.org are already in there, like: "Use let and let!", "Do not use should" or checks for the file name, or to enforce the use of `descr

[2014-07-08 23:25] #83 closed, assigned to nobody

[2014-08-19 08:08] henare opened #120 "Merge "Expect vs Should syntax" and "Do not use should""
They're largely the same.

[2014-08-20 18:21] oveddan opened #121 "Mock or not to mock guideline's example is actually a stub"
Update that guideline to talk about a mock, using something with
[code]

Maybe add another guideline describing if you should use a mock or a stub, explaining when to use:

[code]
or

[code]

[2014-10-18 15:01] #120 closed, assigned to nobody

[2014-12-08 05:55] mkaschenko opened #122 "How do you describe readers and writers?"
Hello, @andreareginato. I would like to know your opinion.

Let's say we have this code:

[code]

And the spec might look like this:

[code]

What do you think about descriptions? How would you test such code?

[2014-12-28 19:12] #122 closed, assigned to nobody

[2015-01-09 10:05] astyagun opened #128 "Q: Where should I place the mocks in my test?"
[code]

VS

[code]

[2015-01-09 12:40] astyagun commented on #128
Thanks @geniou, we've had an argument about this at work and your solution satisfies both sides :)

[2015-01-09 12:49] geniou commented on #128
@astyagun your welcome. :)

[2015-02-03 06:57] hellboy81 commented on #15
Why should I **not** use  should syntax (i.e. `should.js` in _JavaScript_) ?

[2015-02-03 07:10] baweaver commented on #15
That one more of got shoehorned into this. The original point was that using one liners only saves you space, and shouldn't be used frequently.

*<OPINION>*

On to the second point, and this is highly personal in preference as to using ``should`` in description strings. I don't like it quite simply because you're not certain. It should do something? It either does or it doesn't, and using flimsy w

[2015-02-03 07:42] andypalmer commented on #15
Dan deliberately chose "should" when creating BDD to introduce the element of uncertainty; specifically with regards to our understanding of the system we are specifying.
"It should return 3 when given 1" is effectively short-hand for "based on our current understanding and assumptions, we expect method(1) to return 3. If, at some point in the future, this is not the case, we should be prepared to

[2015-03-16 14:59] onebree commented on #18
This page needs to be updated. Webmock is no longer maintained for RSpec 3, as per their README.

[2015-03-16 15:12] marnen commented on #18
@onebree Apparently Webmock does work with RSpec 3: see the resolved issue at bblimke/webmock#396. I haven't tried it myself yet, though.

[2015-03-16 17:12] onebree commented on #18
I am using RSpec 3.1. At this point, I am just going to use the RSpec Mocks library that RSpec provides. I am also not comfortable using a gem that seems to not be maintained anymore... Given their badges that say failed build and out-of-date dependencies

[2015-03-16 17:43] andreareginato commented on #18
Right now I'm working on different project and would be great if you could
send us a pull request solving the issue, where we can discuss the use the
RSpec mock library together with the changed code examples.

Thanks a lot Hunter.

On Mon, Mar 16, 2015 at 6:12 PM, Hunter Stevens <notifications@github.com>
wrote:

--
Andrea Reginato
Lelylan | reThink your house
http://lelylan.com

[2015-03-16 18:34] marnen commented on #18
@onebree Where do you get the impression that Webmock isn't maintained anymore? Last release (v.1.20.4) was November 2014, about 4 months ago, and last commit to Master was 22 days ago.

Webmock does a lot of good stuff. Don't reinvent it if you don't have to.

[2015-03-16 19:26] onebree commented on #18
On its README, it says it is only supporting up to RSpec 2.x, and its badges stated failed builds and out-of-date dependencies.

Although I did contact someone on the Google Group -- they said they are updating the README as it _does_ support RSpec 3.

[2015-03-16 19:37] marnen commented on #18
FWIW, I've never had any issues with Webmock; I suspect the failed build is more likely to mean that they never set up Travis properly. :)

[2015-03-16 19:40] onebree commented on #18
As I told the owner in the google group forum:

[2015-03-26 17:52] onebree commented on #17
From what I can tell (from issue submissions and forum posts), Spork does not support RSpec3/Rails4 (not sure if both or just one). I received an error that would simply waste time to monkey patch. Instead, I use Spring -- packaged with Rails >=4.1

[2015-03-26 18:34] onebree commented on #14
Right now, we are at ~70% coverage and rely only on, what I guess to be, integration testing. We use Capybara to test the gui as if an admin/user were clicking through it. We "know" the data successfully saved to the database when it renders within a table. I agree that it is slow. It can also be annoying as Capybara may not find an element, but I can clearly see/use it in development mode.

Any/a

[2015-03-26 18:43] marnen commented on #14
@onebree Your Capybara tests sound OK as far as they go (and I hope you're driving them from Cucumber). But do add some unit specs for the models too -- there are some things that are impractical to test solely from integration tests. (And get into the habit of developing story- and test-first!)

The specs changing if the UI changes is a *feature*, not a bug, at least to some extent, but there are

[2015-03-26 18:58] onebree commented on #14
One of our Capybara tests goes as follows:
[code]

If we need to test dependency validations, we create or destroy the dependency immediately before using Capybara to find gui elements.

[2015-03-26 19:05] marnen commented on #14
I'm not sure what you're attempting to describe to me or get my input on here.

I am sure, though, that you should be using Cucumber for this. Always describe your UI in user terms, not programmer terms.

[2015-03-26 19:25] onebree commented on #14
Okay. I wanted to ask if the type of tests we write are _enough_. I do agree that Cucumber is better for testing the GUI, but I was not here yet when they decided. The reason they chose RSpec, I guess, is to have the ability to test models, such as in the last assertion. They also decided to _only_ test the gui through `features` specs, as it seemed to be the most important thing to test.

Basical

[2015-03-26 19:47] marnen commented on #14
I'd say it's unlikely, but not absolutely impossible. How do you test complex model logic?

Then clearly, they didn't know enough to make a useful decision: Cucumber steps are generally implemented in RSpec, so that would have been no problem.

Yes, if you have to only have one kind of test for some reason, that is generally the right kind, because it *can* test everything, whereas unit tests cann

[2015-04-02 15:09] telmofcosta commented on #5
[code]
In this example, I just want to test that some action gives me the color blue. But the only way I have to test that it's blue is by its RBG components. If I don't break the single expectation test pattern, I loose the "why" I have this test. It is important for me that the reason I want this is that I want to make sure the color is some kind of blue.

What is wrong with this reasoning?

[2015-04-02 16:55] myronmarston commented on #5
Absolutely nothing.  Your example is specifying one behavior, and that's what's important.  The fact that it takes 3 expectations to do isn't particularly important.

That said, in RSpec 3.1+, you could use a single expectation:

[code]

[2015-04-21 18:44] dayyan commented on #5
FYI the example method `respond_with_content_type` has been deprecated in RSpec 2.0.

[2015-05-05 13:45] orbanbotond commented on #17
+1 spring

[2015-05-05 14:35] onebree commented on #17
I am all up making a PR for recommended Spork for Rails3/RSpec2 projects, and Spring for Rails4/RSpec3.

I understand that Zeus is a favorite for some, but I think Spring is a better candidate for this guide, since it is a gem authored by the Rails org on github, and packaged with current versions. It requires little configuration, if at all -- only after_forks similar to Spork.

[2015-05-05 15:34] andyw8 commented on #17
This issue was opened over two and half years ago, things have changed a lot over that time.

I don't think it's worth trying to document best practices for legacy versions of Rails or RSpec.

As I see it, the basic guidance just needs to be to use Spring via [spring-commands-rspec](https://github.com/jonleighton/spring-commands-rspec).

[2015-05-05 18:13] Fryie commented on #14
"Test what you see" seems odd to me. In fact, users don't "see" your models either. Yet still you are not advocating that we only write acceptance tests?

The most important problems with acceptance tests are:
- they don't scale (I cannot acceptance-test EVERY path through my code)
- they are slow (even if Rails controller tests are slow themselves, they're still slower than an acceptance test - e

[2015-05-05 21:48] marnen commented on #14
@Fryie:

Why? It is the only way to know that your application works as expected for the user.

Acceptance tests are the most important tests, because they are the only tests that can show that the application is working as a whole.

I write unit tests to make refactoring easier and to increase the number of execution paths I can test, not because I think they will tell me anything about whether t

[2015-05-06 09:26] sdeframond commented on #14
Relevant: a [very interesting
discussion](http://martinfowler.com/articles/is-tdd-dead/) between DHH,
Martin Fowler and Kent Beck about what to test and why.

On 05/05/15 23:49, Marnen Laibow-Koser wrote:

[2015-05-06 15:40] marnen commented on #14
@sdeframond: ooh, that's fascinating (though I wish they'd transcribed it -- I have more time to read than to watch video)! I'll note, however, that DHH apparently thinks hexagonal Rails is a bad thing, while I think it's a path to better use of Rails MVC. (In general I don't think much of DHH these days -- he did a great job with early Rails, but can't seem to see beyond it.)

[2015-05-06 16:17] Fryie commented on #14
Something does not become a science simply by someone stating that it is. If you want demonstrable facts, please cite extensive peer-reviewed studies, not just personal anecdotes with thousands of possible confounders. Failing that, I suppose that yes, it is indeed a matter of opinion.

I think we have different ways of writing both applications and tests in general. Most importantly, I do not wri

[2015-05-06 16:39] marnen commented on #14
@Fryie:

...which I didn't do. I merely said that we should take an evidence-based approach to software engineering, not that it was a science.

What do you write tests for, then? (Yes, I see you said regressions, but is that the only purpose?) And what do you mean by "correctness" here? (I can think of at least two meanings that make sense in this context.)

You're right that it's generally quick

[2015-05-07 09:53] sdeframond commented on #14
By the way, does any of you know how to do proper integration tests with
asynchronous jobs? I am working with Sidekiq now but information about
other frameworks would be interesting too.

I haven't found better than to test that 1) the job was correctly
enqueued, then 2) the job does what it should when run. This is kind of
a mixed approach between unit and integration testing. I whish I could
wri

[2015-05-07 10:48] Fryie commented on #14
While there are options to inline sidekiq so the jobs are run directly (see [the docs](https://github.com/mperham/sidekiq/wiki/Testing)), I think it's not a particulary good idea.

Basically there are several (not exclusive, but complementary strategies):
- Test both components in isolation (the enqueuing and the worker itself) - which you already do
- Test the contract between the two (e.g. with

[2015-05-07 13:38] marnen commented on #14
@sdeframond:

asynchronous jobs?

That's a really interesting question. I'm trying to remember how I've handled this in the past.

I think I would tend to have the job run synchronously in the testing environment; otherwise there's really no way to follow the whole process through. Or (mostly equivalent) somehow get a promise from the enqueued job that resolves when it's done, and test that.

It s

[2015-06-01 18:37] jkrmr commented on #17
+1 for pointing to [spring-commands-rspec](https://github.com/jonleighton/spring-commands-rspec) instead of documenting best practices for legacy versions

[2015-06-01 19:34] onebree commented on #17
Does anyone know if the repo is being maintained anymore? Like, for being about rspec (ruby), it should utilize Jekyll and Github Pages. Then we could read the articles in Markdown.

Anyway, I'd like to help, if possible. @andreareginato can I become a collaborator to help relieve the issues/PRs?

[2015-06-02 15:50] andreareginato commented on #17
Hi @onebree. Thanks a lot for writing about possible collaboration. I'm not dedicating much time on the project and I would love to involve some people taking good care of it. Github pages sounds great to me as usable tech stack. For this point, we simply need to start making the job making the infrastructure more simple to handle. About the issues/PR help, sounds great to me. Before, I would love

[2015-06-02 17:08] onebree commented on #17
@andreareginato  I do not have skype, but I do have Twitter and Google Hangouts. Unfortunately, I do not have time tonight for a video chat. I will email you (look for my username) at the address listed on your Github. Ask me any questions you have. :grinning:

[2015-06-03 13:44] onebree commented on #47
Confirmed: all 3 things have been included in PR #133, on the links partial

[2015-06-04 00:08] onebree commented on #59
I agree. `context` is an abstract concept, as you can use it with vanilla RSpec DSL _and_ Capybara DSL. You may submit a PR if you'd like, along with a code block or two demonstrating what context does.

[2015-06-04 00:12] onebree commented on #65
When we change the format of the site, we can haven links to the country flag, which points the user to a translated version of the site. This is why Pages would be good, because it will be easier to format other languages (using `**` for bold) and to render partials dependent on a parameter passed to the URL (like `[language]=de`)

[2015-06-04 00:15] onebree commented on #68
@lucianosousa  As you may have seen, your PR was closed. We can discuss this further if you'd like.

In my opinion, I think it is best practice to enable random specs. Doing such shows all specs are independent. This is important for both Unit and Integrated testing.

You may create a _new_ PR explaining the option in RSpec 2 _and_ 3. Also include that in RSpec 3, you would place the random option

[2015-06-04 00:19] onebree commented on #78
I would like to update everyone by taking a look at this comment I made on another issue:

@onebree said in https://github.com/andreareginato/betterspecs/issues/65#issuecomment-108653852

Basically, I plan to overhaul the site and move it to Github Pages with Jekyll, where we can edit content with Markdown. This will make it much easier to read (as Github renders markdown), view changes, and organ

[2015-06-04 00:20] onebree commented on #82
Hello, I am pinging this to spark discussion. Unfortunately, I have nothing to contribute as the way I am used to testing is strictly Integration with Capybara and its DSL.

[2015-06-04 00:23] onebree commented on #128
@astyagun if your issue has been resolved, please close it. Otherwise, I am leaving it open.

In the future, I plan to have a forum or chat for questions like this, as they can be solved soon. (Like this one was.) When we overhaul the site, issues will be general questions on best practice or about the code.... not personal cases of "what's best to do"

[2015-06-04 00:27] onebree commented on #109
@geniou Feel free to submit a PR promoting this gem. Rubocop is great and features support for the famous Community Ruby Style Guide.

I have not checked your source code, but it would be good to add support for using other DSL from gems like Capybara. The app I contribute to for work does integration testing with `background`, `scenario`, `feature` keywords.

[2015-06-04 00:29] onebree commented on #121
@oveddan I am going to close this issue as thje example has been fixed by #124. In regards to adding additional explanations, feel free to submit a PR.

[2015-06-04 00:29] #121 closed

[2015-06-04 08:58] #128 closed

[2015-06-06 03:15] xirukitepe commented on #3
Is it really okay to have nested `context` blocks?

[2015-06-06 14:06] onebree commented on #3
@xirukitepe I think it depends on your workflow and preference. At work, we use Capybara integration tests. Capybara DSL uses `feature` in place of `context`. Both work, but it just adds readibility to the spec. For us, a feature is a page (pretty much the controller used) in the app. I then create sub-contexts, like: `context "SAD PATHS"`, because we do not use the `it {should not}` style. This w

[2015-06-06 14:23] #47 closed

[2015-06-06 23:03] andyw8 opened #142 "Guidance phrased as personal opinion"
BetterSpecs seems to be intended as a community effort, but many the explanations use the word 'I' since the were originally written by @andreareginato.

I believe this discourages others from contributing updates advice. I would suggest taking an approach similar to the [Ruby Style Guide](https://github.com/bbatsov/ruby-style-guide), where the guidance is intended to capture the community's colle

[2015-06-08 00:58] onebree opened #144 "Update site content for Rails4/RSpec3"
I think it is important to still keep current best practices, but label older ones as for RSpec 2. Many teams and online classes still use RSpec2, and it is important to maintain compatibility.

- [ ] Clarify whether a best practice is for _only_ RSpec2 or RSpec3
- [ ] Update all reference links (#139, #141)
- [ ] Replace Spork recommendation with Spring (Rails 4)
- [ ] Update gems in project, and

[2015-06-08 12:33] onebree commented on #142
@andyw8 I included your suggestion in a recent todo list. I agree that any guide should be written in a commanding way (second person?). As you noted, Andrea originally wrote many of the guidelines. I do not feel, however, that his use of first-person is the reason why people do not contribute. I think people do not contribute much because PRs and issues have been stales for quite some time. (I ha

[2015-06-08 12:50] andyw8 commented on #142
Yes, I agree, it's probably not the main factor.

Regarding translations, there's probably another question there about to keep the different versions 'in sync'.

[2015-06-08 12:54] onebree commented on #142
We are working together on figuring how to keep translations "in sync" with the English pages. If you have any ideas, do let us know.

[2015-06-10 08:31] karvo2 opened #145 "[SPAM] ROM"
JE VEUX INSTALLER LE DERNIER ROM DELL STREAK 5 MON FASBOOT ET MON CAMERA NE MARCHE PLUS DEPUIS QUE J AIS UTILISE UNLOCK

[2015-06-10 08:32] karvo2 commented on #145
![collines](https://cloud.githubusercontent.com/assets/12821325/8078186/a0b10848-0f53-11e5-8fb2-140009da7578.jpg)

[2015-06-10 08:35] karvo2 commented on #145
J AIS PAS ENCORE COMPRIS JE SUIS NOUVEAU CE QUI EST PLUS DIFFICILE POUR MOI C EST INSTALLER FASTBOOT J

[2015-06-10 08:37] karvo2 commented on #145
AIDER MOI A COMPRENDRE DELL STREAK 5 J AIS BESOIN DE CONNAITRE DELL STREAK 5 AIDER MOI

[2015-06-10 12:35] #145 closed

[2015-06-10 13:18] karvo2 commented on #145
Aider moi ensemble à dépanner mon Dell Steak 5 le Fasboot ne s'affiche pas
Le 10 juin 2015 12:36, "Hunter Stevens" <notifications@github.com> a écrit :

[2015-06-13 19:28] onebree commented on #65
I just found that this issue was referenced by a merge pull request (#70), so I am closing this issue now.

[2015-06-13 19:28] #65 closed

[2015-06-13 19:34] onebree opened #146 "Update roadmap, seeking collaborators!"
In the past few weeks, betterspecs has gained some new collaborators to the repository. While everyone on the team is enthusiastic, we have huge plans and need some additional help!

For complete transparency, here is an unordered list of things we would like to accomplish:

- Obtain more collaborators, especially those who can help monitor translations
- Convert the website (now hosted on Heroku)

[2015-06-28 01:31] wconrad commented on #8
The examples use tabular code alignment (inserting horizontal whitespace to make things line up):

[code]

It's [a bit of an anti-pattern](http://wconrad.github.io/20150627/tabular-alignment-antipattern.html) and perhaps shouldn't be shown to programmers who might imitate it without understand its costs.  That said, it _is_ a nit and not a big deal here.

[2015-06-29 12:34] onebree commented on #8
@wconrad I really like your blog post. I think, however, for tests that tabular alignment is okay. Especially since RSpec tests can be pretty long. In my experience, the individual example does not change, but rather more examples are added.

[2015-07-01 12:50] wconrad commented on #8
@onebree It seems to me that the longer the block of tabularly aligned code, the more the cost when the alignment changes.  That said, you're right that it's less costly if the block seldom changes than if it changes often.

[2015-07-24 20:00] eliotsykes opened #150 "Consider alternative to best practice term"
Best practice is a term used in betterspecs. Practices are dependent on context. There can be multiple conflicting but good practices with no clear winner. Best practice misses this nuance unfortunately. Best practice discourages independent and critical thought of the practices presented which is an unintended consequence.

[2015-07-24 20:15] onebree commented on #150
I do not mean to be rude, but can you explain this without the word practice? It was a lot for me to comprehend. But then again, I am juggling tasks.

What would you suggest? Guidelines? Style guide? Cookbook?

[2015-07-24 20:35] eliotsykes commented on #150
Not rude at all, happy to clarify, I didn't explain well and sorry about that.

_Best_ practice suggest there's one good practice and all others aren't as good. This often isn't the case. Perhaps _suggested practice_ would be one way of putting it.

[2015-07-24 20:42] onebree commented on #150
"Best practice" is also a popular buzz-phrase, which is why it may have been chosen. I agree with it, however, because BetterSpecs involves _practice_, not just use. For example, suggesting gems like Webmock for stubs/mocks. This is a practice. I agree it may not be the _best_ term, but then again, what other RSpec resources (like this one) are out there?

[2015-07-24 21:18] eliotsykes commented on #150
This is just a request for consideration to change the docs in a way that may have been a very minor improvement to the project. Admittedly I may be in the minority in thinking this would be a small improvement.

I have students who use this as a resource and I ask them to read betterspecs but to also form their own opinions. This is why I thought it worth starting a discussion on the use of the t

[2015-07-24 21:18] #150 closed

[2015-07-24 21:19] onebree commented on #150
@eliotsykes Since you recommend this to your students, do you want to help contribute to the project? As in, become a COLLABORATOR?

[2015-07-24 21:25] eliotsykes commented on #150
@onebree I don't know if I have the time though I can try - is there a (small) task I could do? I'll see if I can complete it before 2017 :-)

[2015-07-24 21:27] onebree commented on #150
We are looking for a team of maintainers. But I appreciate your humor :-)

[2015-07-24 21:31] eliotsykes commented on #150
Ah I see I just saw #146. Is the project looking for translators too?

[2015-07-27 12:35] onebree commented on #150
Yes. Any of the current languages we support.

[2015-07-27 13:06] eliotsykes commented on #150
Thanks, that's good to know, found languages here: https://github.com/andreareginato/betterspecs/tree/master/content

This would be a great way for newer devs to contribute, I'll try to find some contributors.

[2015-07-27 13:10] eliotsykes commented on #150
Just in case its of interest and not been discussed, putting the translations into YAML and adding betterspecs to the public projects here https://github.com/Locale (https://www.localeapp.com/) might gain some translators/maintainers.

[2015-07-27 13:40] onebree commented on #150
Okay, can you open a new issue for that request? And explain a little more about it? Like other projects currently doing that. Thank you.

[2015-08-21 20:54] mattvanhorn commented on #4
"not valid" conveys a lot less useful information than "has unexpected parameters"
I think it is bad practice to encourage vague specifications.
I shouldn't have to go searching for the subject or setup to find out what "not valid" means.
http://xunitpatterns.com/Obscure%20Test.html#Mystery Guest

[2015-08-28 00:56] akz92 commented on #146
Hi, I'm here to help. I emailed Andrea last week but haven't got an answer yet. In the mean time I started to transfer the site to Jekyll, it's hosted on my GH Pages: http://akz92.github.io

[2015-08-28 09:39] benoittgt commented on #146
Happy to help for french translation and more like `Possibly moving each translation to its own branch or directory within the repository.`

[2015-08-28 12:23] onebree commented on #146
@akz92 and @benoittgt Great to hear that you guys want to help! I have not heard from Andrea in over a month. Unfortunately, I have stopped focusing on helping out, because of the lack of communication....So nothing has been officially done or even worked on.

[2015-08-29 20:17] andreareginato commented on #146
Hi everyone. My apologies with @onebree and all the people willing to make betterspecs a better project.

Right now I've no time to dedicate to the project (due to other priorities) and what I need is to have a team of people that can independently take the decisions to improve the project. What I can do form my side is to check the plan definition and then place the new website when complete.

I

[2015-08-30 13:59] onebree commented on #146
@andrea Would it be best to transfer ownership of the project? It seems like someone has recreated the entire site to be hosted on Github Pages, rather than heroku. This completes one part of the plan we discussed in Slack

[2015-08-30 19:28] xaviershay commented on #5
@coreyhaines would you agree that `aggregate_failures` (introduced in 3.3!) addresses this concern?

The "not isolated" example could be updated to include it:

[code]

[2015-09-14 19:27] adibsaad commented on #2
Fyi `::` is called the scope-resolution operator.

[2015-09-25 16:16] Yvem commented on #15
@andypalmer +1

[2015-09-29 10:51] andreareginato commented on #146
Hi Hunter,

the project it self is both for the community and personal portfolio. For
me the best option would be to keep the repo the one we are using, with
total freedom for collaborators to fork and merge new solutions.

On Sun, Aug 30, 2015 at 3:59 PM, Hunter Stevens <notifications@github.com>
wrote:

--
Andrea Reginato
Lelylan | reThink your house
http://lelylan.com

[2015-09-29 11:33] akz92 commented on #146
I don't mind keeping the project where it is. The Jekyll version is finished so if you want to use it I can make a pull request.

[2015-09-29 11:46] andreareginato commented on #146
Wow. Sounds great.
Can you first deploy it as beta so that I can check it out.

Thanks a lot.

On Tue, Sep 29, 2015 at 1:33 PM, Lucas A. Moulin <notifications@github.com>
wrote:

--
Andrea Reginato
Lelylan | reThink your house
http://lelylan.com

[2015-09-29 11:48] akz92 commented on #146
@andreareginato I don't know if this is what you are talking about, but it's already running on my github pages: http://akz.me

[2015-09-29 11:52] andreareginato commented on #146
Exactly that. I can see some missing sections.
Once we overcome to them (e.g. screencasts, social buttons) and have a
solid new version we can make the merge.

On Tue, Sep 29, 2015 at 1:48 PM, Lucas A. Moulin <notifications@github.com>
wrote:

--
Andrea Reginato
Lelylan | reThink your house
http://lelylan.com

[2015-09-29 11:54] akz92 commented on #146
Ok, I'll work on that on the weekend and I'll let you know when It's ready.

[2015-09-29 11:59] onebree commented on #146
@andreareginato  I understand why you want to keep yourself as the repo's owner.

@akz92 syntax highlighting in Jekyll is easy. It does not look pretty when viewing the markdown on Github, but is nice on the site itself.

[code]

[2015-09-29 12:03] akz92 commented on #146
@onebree nice I'll try that later. If you or anyone else want to help me it'll be great I can give you permission to edit the repo directly.

[2015-09-29 12:08] onebree commented on #146
I have experience with Jekyll for my github blog. The original idea was for me to monitor edits to the jekyll page, but not create it entirely. (I am not much of a front-end person. I can design but have no patience for CSS.)

[2015-10-22 18:36] onebree commented on #146
@akz92 Hello there. Any update on the website? I do not think I am a collaborator with permissions to help. Instead, I will just submit pull requests. Again, thank you for taking the time to recreate the whole site!

[2015-10-22 23:49] diegoguemes commented on #2
As some people already said, I think this syntax is amazing for describing methods, but it's not good enough for describing behaviors. It won't be useful for developers that are not familiar with the code.

Maybe I'm getting too far here, but I see it like redundant comments for getter and setters that don't add any additional value.

[code]

Doesn't seem very DRY.

[2015-10-23 00:00] diegoguemes commented on #7
I just visited this thread to check if more people considered the use of the word `subject` an aberration inside the body of an spec.

Just for clarifying, I'm totally ok with the subject syntax, I disagree with the use of `subject` without a named variable, because it doesn't express any intent.

The post http://blog.davidchelimsky.net/blog/2012/05/13/spec-smell-explicit-use-of-subject/, which so

[2015-10-23 06:57] andreareginato commented on #7
Hi Diego, that makes sense.
If you think this being a best practices, send us a pull request and we'll
evaluate it.
All the best.

[2015-10-23 06:59] andreareginato commented on #146
I guess it's still work in progress. Hunter, actually you have full
permissions for the repo.
All the best.

[2015-10-23 12:06] onebree commented on #7
@diegoguemes yes, please submit a pull request, including that blog link in the comments!

[2015-10-23 12:13] akz92 commented on #146
@onebree Hi. I haven't been able to finish the port, I'll give you both collaborator permission but feel free to fork it and use the code any way you want.

[2015-10-23 12:16] onebree commented on #146
@akz92 I will fork your project and submit pull requests for any changes I make. That way, rollbacks are easier if necessary

[2015-10-23 12:35] onebree opened #153 "Github Pages website"
In partnership with issue #146

Previous participants: @andreareginato , @akz92

As discussed in the named issue, we want to move away from Heroku and instead host the site on Github. There are two ways of doing this.

1. Launch the site nearly as-is, HTML and all, onto Github Pages. @akz92 has already done this to create a [live demo][1].
  - Pro: Most of the HTML can remain the same
  - Con: Cur

[2015-10-23 12:36] onebree commented on #146
@andreareginato and @akz92 for further discussion on the website, please see issue #153

[2015-10-23 12:44] akz92 commented on #153
@onebree my fork is using Jekyll.

[2015-10-23 14:49] benoittgt commented on #153
First thanks a lot for the job done.

Do you have a task list of missing stuff for this new version?

[2015-10-23 14:53] onebree commented on #153
@benoittgt not at the moment. I have not inspected the demo very much. I will add a checklist to the parent comment before next week.

[2015-10-24 10:08] dideler commented on #2
For reference, here's the guideline

[code]

[code]

@diegoguemes

The behaviour will be described by the inner `context` and `it` blocks. E.g.
[code]

The naming convention provides consistency across tests and ensures related tests are grouped, so readers can easily navigate and find what they're looking for, and test output clearly shows what part of the system is under test.

Be careful not to

[2015-10-24 17:08] wakproductions commented on #2
:+1:  @dideler right on

[2015-11-03 06:18] yudapc commented on #4
Before that is worked. But now It does not work.
`it { is_expected.to respond_with :ok }`
and get error message:
[code]

So for quick fix I changed to:
`it { expect(response).to have_http_status(200) }`

anyone have good solution for that?

[2015-11-03 06:30] yudapc commented on #4
I'm sorry, This error because `gem 'shoulda-matchers'`
The solution I changed `gem 'shoulda-matchers'` to `gem 'shoulda', '~> 3.5'`

[2015-11-09 14:50] onebree commented on #153
@benoittgt I finally added the checklist to the master comment!

@andreareginato I found out that Gitbook now allows for discussion boards and in-line comments for a publication.
  - https://www.gitbook.com/blog/features/discussions
  - Unlimited _public_ projects for free (should not be an issue)
  - Provides documentation-like navigation
  - Allows for custom landing page
  - Example free gitboo

[2015-11-11 18:20] franzejr commented on #153
I think Gitbook is pretty awesome and simple.

[2015-11-11 18:58] onebree commented on #153
@franzejr yes, gitbook is good. IIRC, there were other OSS alternatives out there, but I cannot find which ones. If you do, let me know so I can review them as well. I think anything like Gitbook would allow for quicker releases, and less worrying about the design. (Which is the current hold-up)

@akz92 - I want to say thank you for all you have done porting the site so far to Jekyll. Unfortunatel

[2015-11-11 19:11] dankohn commented on #153
Positives of Gitbook are that it looks nice and would enable free downloads of the contents as eBooks and PDFs, which some users would I'm sure like.

Downside is that Gitbook/GitHub integration is only [one way](https://help.gitbook.com/github/index.html). When any change is made to the Github repo, it will automatically propagate to the Gitbook. And, using the GitBook editor will make changes to

[2015-11-11 19:23] onebree commented on #153
@dankohn git hooks are on my list of things to learn. My comment from 11/09 suggests we would use Gitbook _instead of_ Jekyll. However, if Gitbook limits the design customization (no response from them yet), then a Github Pages site would still be handy.

If we need these git hooks, you are welcome to help us out. I would add you as a collaborator etc at that point.

[2015-11-11 19:40] dankohn commented on #153
I believe you should choose either Gitbook or Jekyll for the back-end of the website, and should use Github Pages to actually serve the HTML. I think you could make either work. Jekyll would be much easier to setup. Gitbook would also produce PDFs and eBook formats.

[2015-11-11 19:43] dankohn commented on #153
It does seem possible to host the site on Gitbook instead of Github Pages, using the existing custom domain, as described here: https://help.gitbook.com/platform/domains.html

My hesitancy is that Github Pages is one of the most reliable hosting platforms in the world, but for this application, it probably doesn't matter.

[2015-11-11 19:49] onebree commented on #153
@dankohn is it possible to have Gitbook fetch only certain partials from the Jekyll site? Such partials would be just markdown, and easy to translate to both formats. Maybe even have Gitbook point to a particular branch, if possible.

[2015-11-11 20:04] dankohn commented on #153
Anything is possible, but Jekyll and Gitbook do not use identical flavors of Markdown, so this is harder than it looks. I strongly recommend picking one or the other as the back-end format.

[2015-11-11 20:10] onebree commented on #153
@dankohn thank you for your insight. I brought Gitbook up because I am personally moving away from Jekyll (with my blog), and I like the documentation-style of it.

In regards to Markdown, I know you can specify the flavor in Jekyll, such as GFM (which Gitbook supports).

If, at the end of the day, Gitbook only provides the PDF/ebook feature, we could find an alternative route within Jekyll (or a

[2015-11-16 22:54] mltsy commented on #83
I agree that `expect` is the correct syntax to use for block expectations, but for one-liners, it's actually still perfectly okay to use `should`, as it's a method from a different class entirely (it's not the same `should`) and it sounds and looks much better than `it { is_expected.to ... }`.  The only reason the other `should` was removed was because it required monkey-patching `Object`.  That i

[2015-12-07 15:21] nagi commented on #3
How about amending:

... to ...

### Not so hot (in my opinion)

`context 'with sprinkles' ...`
`context 'when there are no sprinkles on top' ...`

### Better (again, in my opinion)

`context 'with sprinkles' ...`
`context 'without sprinkles' ...`
_____

:icecream: :ice_cream: :shaved_ice:

[2015-12-07 15:23] onebree commented on #3
@nagi I like your idea. How about submitting a pull request with the change?

[2015-12-07 19:26] nagi commented on #3
@onebree Great, thanks! #157

[2015-12-15 19:13] akz92 commented on #153
@onebree sorry for the really long delay to answer. I had never seen GitBook, I visited a few pages and it looks good for documentation purpose but personally I believe it isn't the best alternative for betterspecs. Using GitBook we won't need to worry about design but betterspecs design is done, I don't think it will be a problem. On top of that, the Jekyll version is almost done and it solves th

[2015-12-30 00:19] pedz opened #159 "Question / Possible addition"
I am surfing around and bumped into a stack overflow where two people voiced the opinion that expectations should not be put into a before hook.  The expectations should be put into the example.  A third person argued the other way because it was dryer.

I bopped over to here to see what your thoughts are and I don't see the topic discussed.  Perhaps this is something that could be added:  If the

[2015-12-30 02:08] onebree commented on #159
Could you link to any/all sources you are referring to?

I am also interested in what others have to say.

[2015-12-30 15:09] pedz commented on #159
I was surfing for how to remove an expectation from a method, so Google:

rspec how do I remove an expectation

and you will see the list of hits.

One hit is http://stackoverflow.com/questions/25308667/how-to-reset-expectations-on-a-mocked-class-method
The first comment to the question starts the conversation.  The answer also implies (to my eyes) that adding expectations in a before hook should

[2015-12-30 15:15] onebree commented on #159
IMO, I think before, after, background, etc should be reserved for setting up a scenario. If you are expecting the same thing 10 times, why not make it its own test? You can add a comment where you assume that expectation to be true later one.

Do you have an example from your own work you'd like to share?

[2015-12-30 15:17] enricostano commented on #159
:+1:

[2015-12-30 17:25] pedz commented on #159
I'm not sure how much you want to see.

    describe "#print" do
      let(:options) { instance_double("Options") }
      let(:context) {
        instance_double("Context").tap do |context|
          expect(context).to receive(:done)
          expect(context).to receive(:in_list).and_return(false)
        end
      }

      context "with no filters" do
        it "should print but produce no outpu

[2016-01-09 04:36] eladg commented on #10
@andreareginato It seems that `have` / `have_at_least` / `have_at_most` were deprecated.

From: http://rspec.info/blog/2013/11/rspec-2-99-and-3-0-betas-have-been-released/
[code]

would suggest updating those examples...

[2016-01-11 13:39] onebree commented on #10
@eladg Feel free to submit a pull request with changes. It would be much appreciated.

[2016-01-12 22:10] mariozaizar commented on #8
Wondering what's the big reason to use `let` or `let!` instead of `CONSTANTS`?
I'm in favor of let, but what would be the big reason to do use them?

Like in this example:
[code]

vs

[code]

[2016-01-13 02:10] wconrad commented on #8
A constant is neither better nor worse than `let` or `let!`; it is merely different.

A constant is accessible to both the class, at load time, and to the instance, at run time.

`let`is accessible only to the instance, at run time.

A loop that defines multiple test cases using `it` is load-time, and so cannot access `let` declarations.

A `let` declaration is roughly equivalent to defining a met

[2016-01-22 19:49] tgaff commented on #15
I agree with audionerd.

This specification is about the test **description** the code inside should be the same.  There's already a separate entry for should vs. expect syntax.

[2016-01-24 02:45] tgaff commented on #14
Considering how contentious this rule is; I really think it should be removed from the guide as a recommendation.
If the goal of betterspecs is to suggest guidelines based on the collected knowledge, experience and general consensus of RSpec users (on the best ways to use RSpec); then it doesn't seem that we're serving that goal by listing something with so little agreement.

[2016-01-24 03:04] marnen commented on #14
@tgaff The principle isn't controversial. You'll notice that most of the disagreement comes from people who are new to RSpec, not from experienced RSpec users.

Besides, if it were obvious, there would be no need to recommend it, would there?

[2016-01-28 04:05] Fryie commented on #14
I don't want to add to this discussion again, but to state that this principle is not controversial is ... [quite a statement](http://solnic.eu/2012/02/02/yes-you-should-write-controller-tests.html). I also just watched a screencast by Gary Bernhard yesterday, where he refactored a big controller test - in the end the controller spec was smaller and more isolated but it was still kept in place.

I

[2016-02-04 18:02] andreareginato commented on #153
Hi everyone. Next week (probably on Monday) I'll take one day off to move betterspecs.org to Github pages and to give it a new restyle. This should make changes easier for the community.

I would love to ask @onebree (which is greatly maintaining the site) to give me all the info I need, not missing any update (for what can be possible).

Thanks everyone.

[2016-02-04 18:32] onebree commented on #153
@andreareginato Right now, @akz92 has a demo of the site in Jekyll. I have not looked at it much, however. An alternative to Jekyll/GH Pages is this, which can _easily_ be styled with the current color scheme.

https://github.com/jeromegn/DocumentUp

It has a GH pages guide, and the [`v1` theme] looks exactly like what we want -- a sidebar with headings/links. I even found how to remove the "Fork

[2016-02-04 18:41] akz92 commented on #153
@andreareginato feel free to use any code of my port. I'll be glad to help if there's something I can do.

[2016-02-04 18:48] onebree commented on #153
@andreareginato if you do use @akz92's port, I think it would be best to push his commits to a temp branch on github. Then he will still get credit in the commit history for his work :-)

[2016-02-09 10:47] jmonsanto commented on #4
IMHO, 40 characters is really limiting -- may even result to much more confusion for the sake of meeting the 40 char limit. Conciseness is key though.

It's better if rephrased like this:

[2016-02-10 16:56] andreareginato commented on #153
Hi everyone.

A [draft for the new version of Better Specs](http://lelylan.github.io/betterspecs) is up and running.

### New features.
- [x] Works on Github pages (this will simplify the contribution process)
- [x] Responsive (works well on mobile and tablet)
- [x] Cleaned up the whole content
- [x] New layout (more 2016)

I would love to ask @onebree, @akz92 (thanks for the initial porting), @da

[2016-02-10 19:42] onebree commented on #153
## Overall

@andreareginato  I absolutely love what you've done! I think the sidebar can remain dark, as well as code samples, but I would like to see a light page background. It adds some contrast, and is easier on the eye (all dark parts are blocked out then, not blending into the background).

## Commenting

- Disqus
  + Requires a separate account, or OAuth through Facebook/Google/Twitter
  +

[2016-02-10 19:53] dankohn commented on #153
Congrats, I think the new pages look great. I would prefer to see discussion just use Github issues, as it is the easiest and most popular option.

[2016-02-10 20:05] onebree commented on #153
@dankohn what says it is the most popular option? I mean, it was done with this repo because I assume other tools were not available, or useful, at the time of creation.

[2016-02-10 20:21] dankohn commented on #153
@onebree Most popular in the sense that nearly all developers have a Github account, while far less have Disqus, Discourse, Gitter, etc. Note that I'm not arguing that Github issues are the most feature-rich or even necessarily the best option, just the most ubiquitous.

[2016-02-10 20:51] onebree commented on #153
@dankohn Well you can sign into Discourse and Gitter with Github. In fact, Github is the only login option for Gitter, I think!

[2016-02-10 22:21] andreareginato commented on #153
Hi guys. Thanks a lot for your answers.

If you guys agree I would keep this discussion to close the issues that are important to go online with the new version as soon as we can. To make this happen the issues to close are these.

- [ ] Adapt all "translation pages" to the new layout (this will take some hours, but it should not be difficult)
- [ ] (BUG) When reloading the page with the anchor th

[2016-02-10 22:47] onebree commented on #153
@andreareginato What browser were you using? On Firefox 44, I had no issue with the anchors. (That is `betterspecs.org/index.html#describe`, right?)

[2016-02-10 22:57] andreareginato commented on #153
Looking at the new version. The link below sometimes it stay at the top of the page.
http://lelylan.github.io/betterspecs/#mock

I'm using Chrome 47.0.2526.111

[2016-02-10 22:59] onebree commented on #153
I get that issue as well in Chrome if I `CTRL+F5`. But if I visit that link directly, I am brought to the correct heading.

[2016-02-11 01:17] onebree commented on #153
@andreareginato I just whipped this Markdown file up. It is not perfect, and has to be rendered in a test environment, but this is what the English index could look like:

https://gist.github.com/onebree/0147c9dc28c9a41d81f3

[2016-02-11 10:39] akz92 commented on #153
@andreareginato we could use an I18n translation like this: https://github.com/screeninteraction/jekyll-multiple-languages-plugin
It would make it a lot easier to maintain translations.

[2016-02-11 11:05] andreareginato commented on #153
@akz92 looks a great solution, we can go for it.
@onebree at first looks great (it simplifies reading and writing). I would bring attention to the css structure, as we need to keep it coherent with actual HTML.

Thanks a lot guys

[2016-02-11 11:06] andreareginato commented on #153
* @akz92 looks a great solution, we can go for it.
* @onebree at first looks great (it simplifies reading and writing). I would bring attention to the css structure, as we need to keep it coherent with actual HTML. I also should note the the actual index page (in gh-pages branch) has some consistent changes on the menu.

Let me know your thoughts

[2016-02-11 11:36] andreareginato commented on #153
One more thing.

For one week I'll be out for work and I'll not be able to closely follow the progress of the works.

I wanted to leave you guys the task of making betterspecs 2.0 ready to go online telling you one more thing. Although many tech solutions can be applied, I would suggest to keep those minimal. I think going online with bs 2.0 using the `internationalization plugin` and the `markdow

[2016-02-11 13:41] onebree commented on #153
@andreareginato The CSS was not maintained in the gist I sent you, as it did not have any accompanying CSS files. This is why I need to test this locally with the entire site. I will make a separate branch called "markdown" or something. I also just realized that the gist I made was based on master branch, not `gh-pages`.

Would you be opposed to simultaneously moving the site to HAML? This I can

[2016-02-11 14:14] andreareginato commented on #153
@onebree I 'm not against HAML but we need to be sure to close this issue. Do you think using HAML will add much time on the process? If you can take care of it, and the final result is a much cleaner result, I'm in. Get in sync with @akz92 about the translations and I think you are ready to start.

Great work. Lets make it real this weekend :)

[2016-02-11 14:32] onebree commented on #153
@andreareginato is the slack channel still around? I know I did not delete it. If possible, I can add @akz92 to it, and remove anyone who has not been around.

[2016-02-11 23:08] andreareginato commented on #153
Feel free to use it. It's up and running

Il giorno gio 11 feb 2016, 15:32 Hunter Stevens <notifications@github.com>
ha scritto:

[2016-02-13 20:20] onebree commented on #153
@akz92 Would you like to join the Slack channel? Right now, it just posts updates from github. If you are interested, please let me know which email to use.

Furthermore, I found this comment, where someone suggested using YAML for translations (eliotsykes):

https://github.com/lelylan/betterspecs/issues/150#issuecomment-125200165

[2016-02-13 20:45] onebree commented on #153
@andreareginato I have updated the changelog for all changes since I became a contributor: 45cbdb6

Happy 300 commits!

[2016-02-13 21:47] akz92 commented on #153
Sure @onebree, my slack account email is aride.moulin@gmail.com.
The translation solution I proposed uses YAML too. The kind of translation service mentioned by @eliotsykes is great but also expensive. It has a 500 word limit and supports only 2 languages on the free plan. Besides that, I believe it's intended to be used in rails projects, I don't know if it's possible to use it in a Jekyll projec

[2016-02-14 19:13] andreareginato commented on #153
@onebree Impressive job :) Really really nice!
@onebree about i18n although I didn't go in deep I would set as tool the one suggested by @akz92. I would start using it as soon as possible.

As soon as you can let me know how the porting is moving. I'm looking forward to tell the community the work you are doing. Have a nice beginning of week.

[2016-02-15 10:28] benoittgt commented on #153
Sorry was really busy. For slack here is my email benoitjerk [at] hopsandfork dot com.

Will see on which task I can work on. Maybe : *Adapt all "translation pages" to the new layout (this will take some hours, but it should not be difficult* ?

[2016-02-16 15:38] onebree commented on #153
@akz92 and @benoittgt I will add you two to Slack today.

@andreareginato thank you, and you are welcome. I did not get to all I wanted to this holiday weekend -- I am still figuring out the Markdown port of the site. I will worry about that before HAML. I will finish the port by the weekend. :-)

[2016-02-16 15:43] onebree opened #166 "Adapt all "translation pages" to the new layout"
Originated from https://github.com/lelylan/betterspecs/issues/153#issuecomment-182478368
- [ ] Adapt all "translation pages" to the new layout (priority)
- [ ] Place all translation pages in a more structured way, while maintaining today's paths

@benoittgt -- please coordinate with @akz92, as he will be working directly with the translations themselves.

[2016-02-16 15:47] onebree opened #167 "Use an i18n tool to maintain translations"
Originated from https://github.com/lelylan/betterspecs/issues/153#issuecomment-182799572

- [x] Use [jekyll-multiple-languages-plugin][1] to maintain translations

@akz92 -- please coordinate with @benoittgt, as he will be moving the translated pages to the new layout.

[1]: https://github.com/screeninteraction/jekyll-multiple-languages-plugin

[2016-02-16 16:02] onebree opened #168 "Merge latest PR changes into gh-pages"
After the move to v2.0, I merged some PRs into master, not realizing that the bulk of the content is not on the gh-pages branch.

- [ ] https://github.com/lelylan/betterspecs/pull/165 - "Here a" typo
- [ ] Manually merge other PRs into gh-pages branch (not currently selected)
- [ ] Change default branch to from master to gh-pages (@andreareginato)
  + Add blurb in "Contributing" about new default

[2016-02-17 00:59] andreareginato commented on #153
Thanks for the great work and coordination. Looking forward :+1:

[2016-02-17 17:04] akz92 commented on #167
@onebree ok, I'll start this task tonight.
@benoittgt I believe it's better to wait for the i18n translation before moving the pages to the new layout, because once the translation is finished there will be only one page to move.

[2016-02-17 21:54] vtorves commented on #168
@onebree solved a first item. #169

[2016-02-18 01:04] vtorves commented on #168
that way you think to solve this?
- Manually merge other PRs into gh-pages branch (not currently selected)

[2016-02-18 01:11] onebree commented on #168
@vtorves I need to review your pull request. I appreciate what you've done so far to help us out in this transition.

As far as the second task, that is something I would rather a maintainer to complete. There are likely to be merge conflicts because of the new site.

[2016-02-18 02:44] vtorves commented on #167
Hi, @akz92
hi, I can help with translations?

[2016-02-18 09:29] benoittgt commented on #167
Ok @akz92 !

[2016-02-18 10:59] akz92 commented on #167
Sure @vtorves. I'm still looking for the best approach, apparently i18n translation in Jekyll isn't as simple as it's in Rails. Maybe you could help me find good active gems to use or some examples/documentations.

[2016-02-19 00:03] vtorves commented on #167
@akz92 rails really is very simple! I solved the translation using https://github.com/untra/polyglot .
how you prefer that i share my tests? branch? gist? here?

[2016-02-19 11:35] akz92 commented on #167
@vtorves please commit it to a new brach.

[2016-02-19 13:14] onebree commented on #167
@vtorves as mentioned above, for any contributions, please do the following:

1. Fork this repository and fetch all branches
2. Checkout `gh-pages` then `git checkout -b name-of-feature`

[2016-02-19 13:19] onebree commented on #168
@andreareginato any thoughts on changing the default branch to `gh-pages`? I mean, do we even need `master`? Just curious. The only experience I have with GH Pages is when it comes from `username.github.io`, in which `master` is the only branch. (Personal, not project pages)

[2016-02-19 14:06] dankohn commented on #168
I recommend this proposed change.

--
Dan Kohn <mailto:dan@dankohn.com>
tel:+1-415-233-1000

On Fri, Feb 19, 2016 at 8:19 AM, Hunter Stevens <notifications@github.com>
wrote:

[2016-02-20 12:44] andreareginato commented on #168
Simplification should be the driver. +1

[2016-02-20 17:50] onebree commented on #168
@andreareginato I do not have permissions to change the repo's settings -- this is something that you need to do. I can only delete or create branches. Not change which is default

[2016-02-20 19:56] andreareginato commented on #168
@onebree you and @akz92 are now admin. Let me know if you have the right permissions.

[2016-02-23 15:45] onebree commented on #168
@benoittgt I am assigning this issue to you. Here is how I would go about things:

1. Fork lelylan/betterspecs off of `gh-pages` branch
2. Checkout a new branch `prs-in-gh-pages`
3. For the PRs: #135, #137, #138, #164
  1. Create a remote for the author branch on the PR.
  2. `git merge --no-commit <remote> <branch>`
  3. Review the changes, fix any merge conflicts, etc
  4. Create 1 commit per PR

[2016-02-25 00:48] akz92 commented on #167
@vtorves can you share what you did? I didn't have the time to study other solutions, it would be great to see how you solved it.

[2016-02-25 02:28] vtorves commented on #167
@onebree thanks!! =)
@akz92 of course ! yes I can. I will adjust better the flow and charge here tomorrow.

[2016-02-25 13:30] onebree commented on #168
@benoittgt can you work on the last 2 tasks listed in this issue?

- Add blurb in CONTRIBUTING about choosing the `gh-pages` branch. Even though it is currently the default, some people may still try to choose master.
- Research whether we need the `master` branch at all.
  + If we do not need it, I will take it from there -- I want to make sure all the help from everyone is not lost, and that the

[2016-02-25 13:35] onebree commented on #146
Should I close this issue? We can make a blurb in README that explains "If you want to become a maintainer, especially for translations, please contact one of our admins..."

[2016-02-25 13:37] benoittgt commented on #146
I'm ok to close this one.

[2016-02-25 13:42] #146 closed

[2016-02-25 13:44] onebree opened #172 "Bring back "Resources" section to gh-pages"
Self-explanatory. This will also help to close a couple PRs.

[2016-02-28 00:25] #167 closed

[2016-02-28 00:41] akz92 opened #173 "Move translated texts to corresponding YAML file"
Continuation of #167

Now that we have i18n translation ('translation' branch) we need to create YAML files for each language and move the translated texts to them. The translation keys must meet the ones used in the 'en' YAML.

Languages pending:
- [ ] Russian
- [ ] Taiwanese mandarin
- [ ] Chinese simplified
- [ ] Korean
- [ ] Japanese
- [ ] Brazilian portuguese
- [ ] Spanish
- [x] French

Guide

[2016-02-28 00:42] akz92 commented on #173
@benoittgt I know your task was to adapt the translated pages to the new layout, but since we only have one HTML file now can you help me with this?

[2016-02-28 09:21] benoittgt commented on #173
Yep will be available tomorrow @akz92

[2016-02-29 12:29] benoittgt commented on #168
For the `gh-pages` branch this for me not a problem expect the thing we should have a README. :)

[2016-02-29 13:45] onebree commented on #168
@benoittgt of course there should be a README. But did you research whether a project-page/repo can live without a "master"-named branch?

[2016-03-01 08:52] benoittgt commented on #168
@onebree I did some research about "master" branch but didn't found something relevant. On *Pro Git 2nd Edition by Scott Chacon and Ben Straub* we can read this... but that's all.

<img width="538" alt="capture d ecran 2016-03-01 a 09 50 41" src="https://cloud.githubusercontent.com/assets/8417720/13422166/33379bfe-df93-11e5-8a14-999b40b503f6.png">

[2016-03-01 13:30] onebree commented on #168
@benoittgt Alright -- I will look into doing a quick merge this week, so `gh-pages` contains all `master` commits.

[2016-03-03 13:35] benoittgt commented on #173
Ok the french : https://github.com/lelylan/betterspecs/commit/68cc4e3d1ef8b37e85fe402e4ec5088d28e64549

[2016-03-20 03:21] jerzygangi commented on #2
I fundamentally disagree with describing _methods_ -- I write specs to describe _behavior_. For me, one of the most useful parts of RSpec is building a living documentation of what my application is doing -- in non-technical lingo. I intentionally do not refer to methods inside my `it` or `describe` or `context` descriptions. The result is a very easy to read, easy to scan, documentation of what m

[2016-03-20 03:22] jerzygangi commented on #2
(And `rspec --format documentation` is great for this)

[2016-03-20 04:19] mkaschenko commented on #2
@jerzygangi could you provide an example?

[2016-03-21 01:20] Spaceghost commented on #2
One thing to consider is that there are different kinds of tests. Unit,
integration, and functional. I always describe behaviour, but at different
granularities depending on what kind of test it is.

There's definitely a lot of space for multiple distinct approaches
depending on the type of test you're writing. I write tests a bit more
similar to what I think you're describing, but those are funct

[2016-03-22 10:08] irisbune commented on #2
@jerzygangi That is exactly what I find so confusing.

I'm learning RoR and RSpec now. In the bootcamp I  joined, it was made clear that RSpec is meant to provide test output that is understandable to all, especially non-programmers. This GOOD vs BAD example does the exact opposite?

[2016-04-11 21:15] david-a-wheeler opened #180 "Homepage stored in GitHub metadata is not a URL"
The homepage stored by GitHub is "betterspecs.org" - but that isn't a URL.  You can see this by viewing: https://api.github.com/repos/lelylan/betterspecs .  Systems have to guess if this is https:// or http:// URL ... in this case, it's http.

Would an owner please look near the top where it says "RSpec Best Practices http://betterspecs.org", and click on "edit"?  Then modify the homepage to say:

[2016-04-12 19:13] akz92 commented on #180
Thanks @david-a-wheeler! Fixed it.

[2016-04-12 19:13] #180 closed

[2016-04-12 19:24] onebree commented on #180
@akz92 please link to the commit/PR that closed this issue :-)

[2016-04-12 19:27] akz92 commented on #180
@onebree the isn't a commit/PR related to this issue, it's just an edit to our Github description

[2016-04-29 12:49] anulaibar commented on #15
Must agree with @baweaver. The tests are the blueprint for the code under test and therefore *should* does not belong in test descriptions.
To quote [Wikipedia](https://en.wikipedia.org/wiki/Unit_testing#Benefits):

The word _must_ is key here. Test descriptions serve as documentation of the code and should be clear and precise without room for interpretation. There is no _maybe_. Either the code

[2016-06-07 16:12] nruth commented on #11
Yes this does happen, e.g. wrapping the must-be-in-one-transaction-so-cant-be-belongs-to shortcoming of old tools. Anyway, it seems the document should be updated to say "Don't use <s>Rails helpers</s> spec/support helpers", instead of don't use fixtures.

In fact, for complex setup cases [fixtures sound pretty good](https://whatdoitest.com/getting-friendly-with-fixtures) and I'm going to give the

[2016-06-07 22:10] marnen commented on #11
@nruth That article you linked to drives me crazy, because it seems to go out of its way to show some of the ways that fixtures suck, but then unaccountably says "oh, they're not so bad"!

They are so bad; they encourage inflexible test data that's overly separated from your test functions. What you probably want instead is more factory templates to easily cover different cases.

[2016-10-18 09:31] maximveksler commented on #7
It seems that RSpec official docs recommend subject not be used in user facing examples.

user-facing concept, we recommend that you reserve it for support of custom
matchers and/or extension libraries that hide its use from examples.

https://www.relishapp.com/rspec/rspec-core/v/3-5/docs/subject/implicitly-defined-subject

Am I getting this wrong ?

[2016-10-20 17:11] dideler commented on #7
@maximveksler note that the page is about the implicit `subject`. I wonder what their standpoint is on the explicit (i.e. named) `subject`.

[2016-12-14 21:14] psto commented on #20
Hi @andreareginato, I'd be willing to translate the guidelines into Polish. Let me know and I will start.

[2016-12-23 10:53] andreareginato commented on #20
Great @psto! Next week I'll give a new template and structure to the site, so I would ask you to wait a little bit before starting. Is it ok for you?

[2016-12-27 08:53] psto commented on #20
Sure thing @andreareginato. Just give me a heads up.

[2017-02-13 19:14] ryanmtaylor commented on #14
Testing controllers as an integration test, before they form a UI is one thing.

Testing a controller (like an API) because the application has to interface with something is Contract Testing.

I think there's also a case to be made that testing create/update/delete within a controller is helpful when the integrity of two models is inter-connected, but I think this suggests that your updates shoul

[2017-02-14 10:25] Fryie commented on #14
@ryanmtaylor Just answer me this question: what is a controller's responsibility? Because before you answer that question you can't answer whether and how controllers should be tested.

My opinion is that Rails controllers by design / common usage do a really, really poor job at adhering to the SRP. Are they supposed to cover business logic? Parameter handling? Directing routes to specific entrypo

[2017-04-19 10:55] ozimeu commented on #20
Hi all! I'd like to help with the translation to Polish, how does the situation look like? Have you already started @psto, @andreareginato ?

[2017-06-22 17:29] brunofacca commented on #14
IMO this guideline should be updated.

It should probably say RSpec *and/or* Capybara.  I don't think feature specs with Capybara can replace controller specs and/or request specs in most cases. Even if they could, it would result in a slow and likely brittle a test suite.

For instance, Capybara is [not suited for testing APIs](https://www.varvet.com/blog/capybara-and-testing-apis/). You should p

[2017-06-23 03:00] marnen commented on #14
@Fryie:

That's how I strive to structure my controllers. Anything complex goes into a model or a service object (which is really a special kind of model).

You may be right, but "skinny controller, fat model" has long been the Rails ideal.

...which is why I hate strong parameters. That kind of logic belongs in the model layer. (As I've said elsewhere in this thread, I basically proxy my strong p

[2017-06-23 14:40] brunofacca commented on #14
@marnen:

I'm referring to applications with extremely skinny controllers. Let me rephrase: Feature specs with Capybara may replace controller/request specs, but it will result in a slower test suite. Additionally, finding the problems behind test failures should take longer (lower-level tests help to pinpoint issues) and the fact that your tests rely on DOM elements will likely increase brittlene

[2017-06-23 15:36] marnen commented on #14
@brunofacca:

So what? The tests will be more correct, _especially_ if the controllers are skinny.

That's why we have model unit tests. If the controllers are sufficiently skinny, there is essentially nothing in them that will break, so there is nothing in them to test.

The fact that the tests rely on DOM elements increases _correctness_. I _want_ my tests to break when the DOM changes significa

[2017-06-23 16:15] brunofacca commented on #14
@marnen:

IMO you can't enjoy the full benefits of the TDD process with a slow feedback loop. Also, if tests take too long to run, it is easier to loose focus. I believe tests can be correct and fast at the same time.

The DOM may not have to change significantly to break your tests.

Anyway, I suggest we agree to disagree, as this seems like one of those discussions that can go on forever.

[2017-06-23 16:47] marnen commented on #14
@brunofacca:

That's true to a point, which is why we use the model unit tests as the inner loop. Then we use the feature tests as an outer loop if they're too slow to run all the time.

Personally, though, I am so convinced of the benefits of test-first development that I'm willing to be pretty patient for slightly slower _but correct_ tests to run.

I use Guard and other tools that help track th

[2017-06-23 17:22] brunofacca commented on #14
@marnen:

The fact that facts are verifiable in this field does not stop some opinion-based discussions from going on "forever", such as: a) The mockists vs. classicists discussion; b) Extracting model code to concerns vs. service objects in Rails (DHH defends the former). I believe our attachment to specific points of view and the fact that most people don't like being proven wrong (even though i

[2017-08-16 18:15] brunofacca commented on #14
@marnen: I had given some thought to the points discussed in the previous comments and tried out your approach while developing a small Rails app over the last few weeks. I did not write any controller tests for web views. I have changed my mind and now agree that feature specs can replace controller specs in web apps if the controllers are skinny enough (so if a feature spec fails due to a contro

[2017-08-16 18:25] marnen commented on #14
@brunofacca:

That's basically my view. I'm glad it worked out in practice for you!

[2017-09-05 00:32] ro31337 commented on #15
`should` is more searchable IMO, it doesn't modify the verb. Consider:

[code]

I know that I can be smart and always use regex to search my codebase. But this is what I don't do.

[2017-09-05 09:08] anulaibar commented on #15
The case when the return value is searchable isn't that common I would say. Consider this example:
[code]
How would you search for that and expect a result where both the test and the code shows up?

A better approach is to keep your test in the same directory as the code it's testing so that you don't need to search for it.

[2017-09-05 15:08] ywen commented on #15
Agreed with @anulaibar. And even if it is retuning `42`, one would write the code as

[code]

and

[code]

Now even you must use `return 42` in the production code. When you search for `return 42` it will simply return the prod code because the test says `returns 42` with a "s". When you search for `returns 42` then it will show the test code, not the prod code. So I don't think this is an issue

[2017-09-05 17:23] ro31337 commented on #15
yea, maybe it's a bad example. But it's nice when verb is unmodified IMHO.

[2017-09-14 05:59] ttilberg commented on #11
It's been five years of discussion, and the rule in the guide still makes a pretty dramatic claim about fixtures without stating why. The example given has nothing to do with fixtures. I've recently been trying to research the reasons people flatly say "don't use fixtures" but in every case I've come across, they are used in an arduous way that isn't necessary. If the example were actually using f

[2017-09-14 16:53] marnen commented on #11
@ttilberg:

Not in the same way. A factory is a *template*, with default values that you're expected to override as necessary when you call it. A fixture, OTOH, is a fixed record that you're expected to fetch as is. (At least, this was the case when I last used fixtures, admittedly a long time ago.)

So with fixtures, you define your test data far away from your test functions, and you need to pre

[2017-09-14 18:12] ttilberg commented on #11
I appreciate the reply, and all points are taken with consideration. You're right that my apps are mostly small data management applications for ETL and client management -- fixtures work great. But I want to correct this part as it's directly related to this issue, and my original comment:

That's actually the exact opposite of what's going on here. I'm not making any assumptions at all about rsp

[2017-09-14 18:27] marnen commented on #11
Ah, good point; the example on the betterspecs website is terrible. I was responding more to the general principle than to the website content.

Yes, and then you quickly discard them when you realize how much they suck. :) FWIW, I've worked as a Rails developer since about 2008, at a variety of companies. I think every one of them has used RSpec and factories. They are kind of community defaults

[2017-09-26 07:22] kilathaar commented on #15
"Should" is an excellent word to use in tests/examples because it encourages the reader of the test to question whether the test actually does what it say and whether the test should exist at all (refactoring).

In my opinion it is a sound attitude to always question tests hence always include "should".

[2017-09-27 07:59] Schniz commented on #7
How do you test a "service"/lib class?

## Let's say we have a class:

[code]

## how would you rather test it:

### Without `subject`s
[code]

### With subject
[code]

### Construct it using code?
[code]

[2017-09-27 08:19] Schniz commented on #7
a truth table is an option as well, to construct tests through code:
[code]

[2017-10-06 18:49] Argus9 commented on #83
+1 at @mltsy's point. Are we crossing wires here? I feel like `should` reads a lot better than `is_expected.to` in one-liner cases.

[2017-10-06 19:20] mltsy opened #192 "one-liner `should` syntax should be 'GOOD'"
As commented on this closed ticket: https://github.com/lelylan/betterspecs/issues/83#issuecomment-334839655

For the one-liner syntax, `it { should be_x }` should be considered good, as well as the `is_expected.to` syntax.  There's no reason not to use `should` in the one-liner, like there is in the usual block syntax.  The `object_x.should` syntax used in a block is where the real problem is (mon

[2017-10-24 08:48] redbar0n commented on #11
I think this illustrates the pain point with fixtures pretty well.

TL;DR: Changing a fixture, or even adding a new fixture will often break a vast number of previous tests*, and fixtures introduces mystery guests.

\* \- Sometimes you need to test methods that f.ex. outputs statistic based on the DB state. Even adding 1 new fixture later on, would break all those tests of methods relying on count

[2017-10-24 11:47] marnen commented on #11
@redbar0n FWIW, I no longer pay much attention to how DHH wants me to use Rails. Of course he did fantastic work in creating (the early versions of) the framework, but perhaps because of that, he's become so attached to his earlier vision that he can't seem to understand that there are other (IMHO better) ways of doing things than he envisioned. It's got to the point where by default, I take his r

[2017-11-15 10:09] pirj commented on #153
It's been two years, and [gh-pages](https://github.com/lelylan/betterspecs/commits/gh-pages?before=0828fa7a2600f4254b37976ddc0425eee1f4f7a8+35) that accepts all pull request has diverged from master that is deployed to Heroku that makes the latter massively outdated.

Examples:
1) [pull](https://github.com/lelylan/betterspecs/commit/0d8c44730d97ad4d340c83f26a28dfd27a9c7bfe) [betterspecs.org](http:

[2017-11-23 06:49] mvz commented on #3
I'm confused what this particular guideline is about: The good/bad example both adds the context *and* uses an anonymous `it` block.

[2017-11-23 07:45] mvz commented on #7
@Schniz Definitely the version under "Without subjects", but with multi-line `do` blocks.

[2017-11-23 17:31] fenec opened #194 "Usage of described_class"
https://relishapp.com/rspec/rspec-core/docs/metadata/described-class

I recently started to use `described_class` instead of explicitly stating the class name:
[code]
I didn't find any guidelines about this, so I wanted to discuss the pros and the cons of each approach.
An advantage of the former is that it looks cleaner. And I believe that the name of the method is self-evident even for those who

[2018-01-15 02:48] baash05 commented on #7
I have three tests
[code]
This is the first time I've ever seen this test file and I'm reading these tests for the first time
I've got the context defined 50 lines above, and this test is failing, what is "subject"
I've got the context defined 50 lines above, and this test is failing, what is "user"

With the variable name "user" I don't have to guess or search or anything.  It's very likely a use

[2018-01-15 04:14] phongn17 opened #195 "Our very first issue! Yay! #1"
This is the first issue created for the purpose of Github Essentials book.

[2018-01-15 04:56] #195 closed

[2018-01-21 02:40] nicknish commented on #194
Great thought! I prefer to `described_class` as it helps reduce redundancy in your code.

Similar to `subject`, it helps DRY up your test suite. Imagine using `Klass.new` all over your spec suite. If you were to ever change the name of your class, you'd have to change it everywhere.

[2018-01-25 09:31] pedroadame commented on #3
+1 @warmwaffles about writing nested context with `context 'and when...'`.

[2018-01-29 21:04] anlek commented on #192
I feel like mixing `should` back into being OK might confuse new people to RSpec. Where it would say don't use `should` syntax anymore... except for this one place... Just confusing.
But that's just my 2 cents

[2018-01-30 11:14] wmadden commented on #9
"Mock or not to mock" is advice which, in the context of a list of best practices, probably does more harm than good since it doesn't actually state what the reader should - or shouldn't do. All it does is instil a sense of unease in the reader regarding mocks. And, as others have already pointed out, it has nothing to do with speed.

A much better piece of advice would be "use verifying doubles".

[2018-02-15 23:38] mltsy commented on #192
I guess perhaps it could be confusing to some people?  I see it as a separate syntax (because it is, technically).  It seems simple enough to say that calling `something.should` inside a test is bad, but as a short-hand, the one-liner `it { should be_x }` is okay.  (Which is to say: that doesn't seem likely to confuse new-comers to me, but perhaps to some it does...)

[2018-02-15 23:40] mltsy commented on #192
(Maybe the confusing thing would be referring to them collectively as "the should syntax", which then groups them together and would make it confusing I suppose)

[2018-04-02 17:49] strand opened #196 "Provide a version for Chai.js"
Chai.js is the JavaScript communities preferred BDD framework. We should add a version of this guide targetted to Chai and JavaScript as well as the existing RSpec and Ruby version.

The Chai.js version could be under a subdomain like: js.betterspecs.org.

I would be glad to tackle the first pass revision to translate to JS if there is maintainer buy-in.

[2018-04-10 13:50] eduardomoroni commented on #15
[code]

My questioning is, does the test ensure that:
Is your code returning 42?
or,
Should your code return 42?

If you say that your test ensures that `your code is returning 42` and the test breaks, then your test is wrong. Because it's saying that your code is returning something that is not returning.
What if your test ensures that `your code should return 42` and your test breaks? Then or yo

[2018-06-20 05:53] #109 closed

[2018-08-01 10:54] thehenster opened #197 "Feature / integration / acceptance spec styles"
A community styleguide for feature specs (capybara / rails) would be useful, as well more general guidance for longer acceptance / integration tests.

For example..

Should a large acceptance test describe everything it hopes to prove in a multiline example description? Or should we favour a shorter description with comments to tell the story (if required)?

[code]
[code]

[2018-08-01 11:40] thehenster commented on #197
I found http://rubocop-rspec.readthedocs.io/en/latest/cops_capybara/. While capybara specific, it does seem like the type of thing I was talking about.

[2018-10-02 13:41] graywolf-at-work commented on #8
Assuming I currently have a code like this

[code]

how can I rewrite this using `let` while keeping it dry? Sure, I can do

[code]

but that means repeating the `User.new` every time. Is there something like
`let(:user) { outer_let(:user).tap { |u| u.cancelled = true } }` ?

[2018-10-02 14:15] wconrad commented on #8
@graywolf-at-work -- I don't worry too much about DRY in my tests.  I find clarity and simplicity to be of greater value in a test than DRY.  I can't think of any way to have just a single User.new that isn't more trouble than it's worth.  For example, you could do this:

[code]

But that's really no better.  Instead of having to repeat User.new, you have to repeat user_attrs.

I have done somethi

[2018-10-02 16:22] myronmarston commented on #8
There is--it's `super()`.  `let` defines a method and nested groups are subclasses of their parent group, so you can use `super()`:

[code]

That said, I wouldn't recommend that here.  I think using a `before` to set the `cancelled` flag makes sense -- you intend to mutate the `user` as a side effect, and that's what `before` hooks are for!

[code]

[2018-10-26 12:28] pirj commented on #153
Hi again,

[RSpec style guide](https://github.com/rubocop-hq/rspec-style-guide) has recently been moved to [RuboCop HQ]([RSpec style guide](https://github.com/rubocop-hq), and is actively maintained.

I was thinking about [cherry-picking the practices from this great guide](https://github.com/rubocop-hq/rspec-style-guide/issues/26) (both `master` and `gh-pages`, but English only) to RSpec style gu

[2018-10-27 15:29] benoittgt commented on #153
I think it's a very good idea :)

[2018-11-02 08:52] pirj commented on #153
I'm not sure where it's better to ask, so I'll leave the reference to the pull request to RSpec style guide picking the rules from BetterSpecs here: https://github.com/rubocop-hq/rspec-style-guide/pull/55
It has definitely made the style guide better!

[2018-11-07 07:19] franklinyu commented on #153
So what’s the progress? Anything I can help?

[2018-11-07 21:17] benoittgt commented on #153
@franklinyu it was merged. https://github.com/rubocop-hq/rspec-style-guide/pull/55 🎉

[2018-11-08 08:00] pirj commented on #153
@franklinyu The two guides always complemented each other and even intersected a bit.
Unfortunately, the maintenance was not active on either, but it's improving after migration of RSG to RuboCop HQ.

It would be easier for everyone to maintain a single guide, and even though Bettrspecs is significantly more popular (stargazed), I've started off RSG, and preferred to apply the effort on updating i

[2018-11-29 21:02] marnen commented on #15
@abelvarga I’d say both represent negation equally well. (I now use the latter form, but for completely unrelated reasons.)

[2018-11-29 21:31] rangeoshun commented on #15
@marnen, I mean the difference is a lot more significant.

[2018-11-29 21:41] anulaibar commented on #15
Love it that this discussion is still alive after six years ❤️
@marnen I'm curious, what made you change your mind?

[2018-11-29 21:45] marnen commented on #15
@anulaibar Mostly that common practice shifted and I didn’t really feel strongly enough about keeping “should” that I was willing to buck the trend. Also that the tests (if they pass) describe what it *does*. (I still use “should” in my Cucumber stories, FWIW.)

[2019-03-08 23:04] georgeu2000 commented on #13
@gavingmiller - Not only is the GOOD example missing, but it seems to have nothing to do with the BAD code.

[2019-06-03 11:00] spaghetticode commented on #2
I think that, when describing class methods, the `::` syntax should be preferable to `.`

My reasons for preferring `::`:
* it's used by Ruby documentation (see for example https://ruby-doc.org/core-2.5.1/File.html)
* according to `man ri` the notation `.` is ambiguous, while `::` refers only to class methods
[code]

What do you think?

[2019-06-18 16:21] iainbeeston opened #201 "Invalid SSL certificate for https://www.betterspecs.org"
If I view betterspecs.org over HTTPS I see a browser security error:

<img width="836" alt="Screenshot 2019-06-18 at 17 17 21" src="https://user-images.githubusercontent.com/111963/59701217-fded2f80-91ec-11e9-92b6-d8e9eca2fea7.png">

It seems that the SSL certificate for betterspecs.org is actually for *.herokuapp.com.

If you're using heroku to host the site and it uses paid dynos, heroku can pro

[2019-06-23 09:52] benoittgt commented on #201
Thanks. Sadly I don't have access to that part of the application. :/

[2019-07-16 15:48] mltsy commented on #192
It looks like this was how things used to be, until this PR: https://github.com/lelylan/betterspecs/pull/113  which references the RSpec docs, but the RSpec docs specifically say about `it { should ... }`, "It continues to be available and work even if the :should syntax is disabled." - and since it's less awkward than `is_expected.to`, I feel like it's pretty clear that both syntaxes should be co

[2019-09-26 08:43] wafcio commented on #7
I disagree with using `subject` in every possible case. When we change subject to flash message or result of invoked method then we aren't consistent with other tests.

Another thing is when you have a lot of `let` and nested tests. In this case, it isn't so readable. So IMHO changing subject should be limited to a few cases.

[2019-09-26 09:11] Schniz commented on #7
Couple of years in, I agree with not using subjects. Methods can be used to share logic and are easier to understand

[2019-10-02 18:57] kbrock opened #203 "Old Content"
I think the http://beterspecs.org site has old content.

The `gh-pages` branch references `FactoryBot`.
`master` still references `FactoryGirl`. (but I think this is not a branch that is used)

When I go to http://betterspecs.org it still says `FactoryGirl`.

Not sure if there is something special that needs to be done to release the newer content.
Let me know if I can help in any way.

Thanks for

[2019-10-30 08:28] chmen commented on #20
Hi, I started progress with Ukrainian translation, it is ready for 40%. I will give a sign, as soon as it will be ready. Thanks.

[2019-11-21 14:15] chmen commented on #20
Ok, I am done with Ukrainian translation.

[2020-02-07 10:02] andreareginato opened #206 "Call for maintainer"
Hi everyone,

I'm opening this issue to look for a new maintainer who wants to take charge of the project betterspecs.org.

This means to take responsibility of the project in renewing the content and to take charge of the domain / hosting costs (which could be around 10€ per year).

I'll take 1 month from today.
If none will take responsibility of the project I'll set it as closed.

Thanks to eve

[2020-02-07 14:18] akz92 commented on #206
Hey @andreareginato, I'll gladly take responsibility for it. Betterspecs has helped me immensely in the past and I'd love to help keep it alive for newcomers.

[2020-02-10 09:53] andreareginato commented on #206
Hola @akz92.

Thanks a lot for sharing your interest, I very much appreciate.
Keep yourself into the next phase of the project.

I will take some more time for other people to share their interest too and then close the call for maintainer in order to try the creation of a small team (if possible) to make the transition lighter.

[2020-02-24 12:48] abuisman commented on #2
@shasticdev I do:

[code]

At least it communicates that it is a scope ;)

[2020-02-24 12:50] abuisman commented on #2
To join in on the discussion with `::` vs `.` I prefer `.`, it is a less distracting notation and using `.` for calling class methods is something I see done a lot more. Also, it is similar to css's class selector, which is another anchor in many people's minds, so I think it is more natural.

[2020-03-06 16:52] bert-mccutchen commented on #206
Hey guys, the site seems to be down. Is there anything I can do to help?

[2020-03-09 16:04] antgonzales commented on #206
@andreareginato site is down

[2020-03-10 16:16] andreareginato commented on #206
@akz92  @bert-mccutchen sorry for the delay.

I would love to start the passage of the maintenance of the project betterspecs.

This will mean the following things
- @akz92 will be in charge of the porting of the site to the new platform (of its choice). @bert-mccutchen you will be collaborating in the new definition of the project.
- The whole responsibility is now assigned to the two of you (on

[2020-03-10 16:33] akz92 commented on #206
hey @andreareginato that sounds good! I've created an organization called `betterspecs` where we could keep the project and I've invited you and @bert-mccutchen.

IMO it would be ideal if you could move the ownership of this repo to that org as it would allow us to keep all that's been registered here throughout these years (issues, stars, forks...).

That's more than fair, and if you accept to be

[2020-03-11 13:29] endverbraucher commented on #206
@akz92 @bert-mccutchen thanks for taking over. I think I and my employer railslove would also support this project if there is anything we can help with (hosting for example)!

[2020-03-13 12:58] andreareginato commented on #206
@akz92 feels perfect what you propose.

You are admin in the repo. I guess you can move freely on it and decide who can join and coordinate the new group. I hope @endverbraucher and partner can be part of this.

I did not see it in the notifications.
Am I missing something?

Please, I would love the next life of this project (I will also share some ideas I had in the past)

looking forward for thi

[2020-03-13 14:33] akz92 commented on #206
@andreareginato I believe you can accept the invitation by going to [https://github.com/betterspecs](https://github.com/betterspecs). Bert has accepted it already.

I just transferred this repo to the new org, as soon as you pass me the ownership of the domain I'll but it back up. It would be awesome if you could transfer me the Heroku app as well if that's fine, my email there is aride.moulin@gma

[2020-03-16 12:02] andreareginato commented on #206
@akz92
- Thanks for the guidance (I accepted the invitation)
- Transferred the Heroku app
- The domain ownership change is pending for approval

If you need more, let me know ;)

[2020-03-16 12:40] akz92 commented on #206
Thanks @andreareginato, I've accepted the transfers and I believe that's all I'll need. :+1:

Our website `betterspecs.org` is back online now 🎉

[2020-03-20 17:31] #206 closed

[2020-03-20 17:36] akz92 commented on #203
Hi @kbrock, yes this is something that we're working on. `http://betterspecs.org` mirrors the `master` branch because that's currently the only working branch. `gh-pages` is a work in progress but it's closer than ever to being ready.

The only thing missing on the `gh-pages` branch is moving the texts from each languages' `index.html` to their own `_i18n/*.yml` translation file. I'll open an issu

[2020-03-20 17:36] #203 closed

[2020-03-20 17:38] akz92 commented on #201
I'm unable to fix this for now as we use a free dyno on Heroku to host the website and it doesn't support SSL, but we're moving away from that and the new website already has SSL: [https://alpha.betterspecs.org](https://alpha.betterspecs.org)

[2020-03-20 17:38] #201 closed

[2020-03-20 17:41] akz92 commented on #196
It's been almost two years without replies but this would be a great addition to our resources, any help with the existing guidelines or with new ones are very welcome!

I'm closing this for now as it's been too long but please let me know if you're still willing to help us with this and we'll reopen it :+1:

[2020-03-20 17:42] #173 closed

[2020-03-20 17:55] akz92 opened #214 "Help needed to launch the new version of Betterspecs"
After a few years of inactivity Betterspecs is getting back on its feet, we're working hard to have the new version of the website launched soon. This new version is really exciting as we move away from an outdated environment and into a fresh and up-to-date continuous deployment environment.

Betterspecs 2.0 relies on Jekyll which removes the need of having a dedicated server. The initial plan wa

[2020-03-20 17:57] akz92 commented on #214
@bert-mccutchen @endverbraucher tagging you here in case you (or someone you know) can help with any of the pending languages :)

[2020-03-20 22:06] akz92 commented on #197
I like that! Feature tests are (or IMO should be) an important part of an application's test suite. Would you like to start this? And then maybe we could open it for discussion once we have something to talk about.

[2020-03-20 22:08] akz92 commented on #194
I agree! It also makes the code more reusable as you don't need to worry with the new class's name.

[2020-03-20 22:19] akz92 commented on #172
This would be great. I was taking a look at the old "Resources" section and some of the links are dead, maybe we could come up with a new list of up-to-date articles/videos and use them on the new section.

These are some of the current ones that are worth keeping IMO:

[Everyday Rails Testing with RSpec](https://leanpub.com/everydayrailsrspec)
[thoughtbot's RSpec Related Reading](https://thoughtb

[2020-03-20 22:25] akz92 commented on #166
Closing this issue as it's addressed in the recently opened issue about Betterspecs 2.0

[2020-03-20 22:25] #166 closed

[2020-03-20 22:26] akz92 commented on #59
This's been around for a long time without activity, closing it for now.

[2020-03-20 22:26] #59 closed

[2020-03-20 22:27] #159 closed

[2020-03-20 22:30] akz92 commented on #142
I noticed this a few days ago too and I agree that it doesn't look great. Please feel free to change those phrasings, closing for now.

[2020-03-20 22:30] #142 closed

[2020-03-20 22:31] #68 closed

[2020-04-02 02:43] aesyondu commented on #2
I would argue that the fact that it's similar to css would confuse whoever reads the test. They might think you're testing html/css code. (Obviously this depends on who is reading your test cases, and I do think this is highly unlikely)

Also, `.` is so small it's easy to miss, unlike `::`.

After reading this discussion spanning ~7 years, I can conclude that best practices are in the eyes of the

[2020-04-02 02:59] aesyondu commented on #4
I've read the first three best practices now (describe, context, description length), and in 2/3, I agree to the counter arguments in the discussion:

https://github.com/betterspecs/betterspecs/issues/2#issuecomment-9106542
https://github.com/betterspecs/betterspecs/issues/4#issuecomment-9113619

Maybe I'm just missing something, it could possibly be because of my lack of experience.

[2020-04-02 03:42] aesyondu commented on #5
See also post about [single-expecation-fetish](https://stackoverflow.com/a/38459039/13099902):

[2020-04-02 04:29] aesyondu commented on #13
Hmm, so shared examples is just a replacement for copy paste right? I had a hard time parsing the [original documentation](https://relishapp.com/rspec/rspec-core/docs/example-groups/shared-examples).

For those familiar with jest, I believe it behaves similar to [describe.each](https://jestjs.io/docs/en/api#describeeachtablename-fn-timeout)

[2020-04-02 04:37] aesyondu commented on #14
Not sure if it's just me, but the link provided now resolves to a porn site, `http://solnic.eu/.*`. So be WARNED.

[2020-04-02 04:56] marnen commented on #14
@aesyondu Yikes! Looks like Piotr Solnica's site is now at http://solnic.codes, for what it's worth.

[2020-04-16 13:29] bert-mccutchen commented on #214
Hey @akz92, sorry for the late reply. I don't seem to be getting notifications about anything that is happening here and I run a pretty busy schedule.

Unfortunately I cannot help here in the translation department. However, I do believe with this new release, for legal reasons, we should probably drop the Lelylan branding. I say this because Lelylan has removed themselves from the project, so now

[2020-04-24 10:35] nicosierra commented on #7
I was wondering what people think nowadays about the following article:

https://benscheirman.com/2011/05/dry-up-your-rspec-files-with-subject-let-blocks/

One use case that fits nicely here, is that of controller specs, in which I need to test against different set of payloads.

e.g.

[code]

The CONS I see:
- a bit obscure for new developers
- it makes hard to keep track of all the redefinitions

[2020-04-25 13:02] baash05 commented on #7
Personally I have always questioned the use of subject as a variable name.
Why not “data” or “thing”.  It tells the reader nothing about what you are
testing.
I have to scroll up twenty lines to find out it’s a “user” or “task”.
If I show you a screen shot of a test (a full screen capture) and you can’t
tell me what subject is.  The “it’s” bad code.
Quick to write painful t read

On Fri, 24 Apr 20

[2020-04-29 18:39] akz92 commented on #214
That's a valid point! I'd appreciate your help with the logo as that's completely outside of my area of expertise :)

[2020-05-03 15:20] andreareginato commented on #214
I share a thought about the translations.
TLTR: we don't really need translation.

What do I mean?

I mean that nowadays we have translation tools that works great and that at the same time to keep the translations always in sync is much harder than it looks. I loved the involvement of the community who contributed at the project when it started, but I think now is time to make it more agile.

My

[2020-05-09 15:36] redbar0n commented on #11
@marnen What benefits does fixtures have?

"We avoid file system, database, simply because these 'shared fixture' elements prevent us running in isolation from other tests, or cause our tests to be slow." - Ian Cooper (36:42) https://youtu.be/EZ05e7EMOLM?t=2202

This was rebutted by DHH in https://dhh.dk/2014/slow-database-test-fallacy.html since DB runs can be fast, and fixtures can be run in iso

[2020-05-09 16:07] marnen commented on #11
@redbar0n I think you might possibly have missed my point. It seems like you’ve mostly listed advantages of testing with fixtures as opposed to no DB management. My claim, though, was about fixtures *as opposed to factories*—and there I claim that anything that fixtures do, factories do better. Your comment mostly doesn’t seem to address this, unless I’m misreading.

***

These two points are mutu

[2020-05-09 16:16] marnen commented on #11
@redbar0n:

This is not the topic for that, but: maybe https://www.selenium.dev/selenium-ide/ ? Or Cucumber with a rich set of step definitions?

[2020-05-11 10:49] redbar0n commented on #11
@marnen Actually, I was thinking fixtures vs. factories myself when I wrote it. It is my prime motivation here to find out the important differences, and try to deduce which is better when. DHH's tweet was particularly elucidating on how he uses fixtures successfully. In that way you can actually use fixtures without meaningful coupling, because the fixtures are actually "fixed", and only local co

[2020-05-11 11:02] redbar0n commented on #11
Thanks for the tip. :) I knew about Selenium and Cucumber, but Selenium IDE seems to be close to my idea! Sadly, [Selenium IDE is deprecated](https://seleniumhq.wordpress.com/2017/08/09/firefox-55-and-selenium-ide/), but other tools such as [applitools.com](https://applitools.com) and [katalon.com](https://www.katalon.com/) has taken its place, apparently. Actually [Katalon Automation Recorder](ht

[2020-05-15 20:26] kigster commented on #83
I’m sorry for being blunt here, but I think this whole expect vs should is horse shit.

Why remove should? It means the same thing. There is a reason we have synonyms in English language.

I love should and use it and will keep using it. And when 4 removes it I will add an alias.

This is dumb stupid religious dog fighting. Why not have it both ways?

[2020-05-28 18:36] johana-star commented on #196
@akz92 I'm still interested in this work, though my life has changed _drastically_ in the last two years.

What would a reasonable proof-of-concept milestone for translating the RSpec to Chai? Maybe reviewing one section of betterspecs and updating it to JS?

[2020-06-15 20:33] akz92 commented on #214
@andreareginato that's a very good point, and it would also mean way less overhead in maintaining the project up-to-date. As a bonus it would also allow us to use Github pages since we wouldn't need any plugins anymore.

I'll try to have an English-only version deployed and that from their we might get feedback in case people miss the translations.

[2020-06-15 20:39] akz92 commented on #196
Hi @strand, that's great that you're still up for it!

I think that updating a section to JS is a good way of starting, please note that we're in the process of replacing the current live website by the one on the `gh-pages` branch so please use that one as a reference.

[2020-06-16 13:33] andreareginato commented on #214
I look forward to see the new version online.
Keep on with the great job

[2020-07-10 14:12] andreareginato commented on #214
@akz92 how is the migration going?

[2020-07-14 20:37] johana-star commented on #196
@akz92 I thought I had the capacity for this right now, but I don't. Closing for the time being, due to lack of personal capacity.

[2020-07-14 20:37] #196 closed

[2020-08-01 15:48] akz92 commented on #214
@andreareginato I finally got some time to finish the new version today. You can see the final result [here](https://blissful-lalande-8166e8.netlify.app/). Now I'm configuring our domain to point to the new version so it might be offline for a while.

[2020-08-03 20:55] akz92 commented on #214
So, the new version seems to be working fine after all. @andreareginato thanks for your help here!

[2020-08-03 20:55] #214 closed

[2020-08-03 21:01] akz92 commented on #78
this seems to have been achieved overall now that we're not doing translations anymore. 🙂

[2020-08-03 21:01] #78 closed

[2020-08-19 15:41] ChaelCodes commented on #4
I think the example context here is vague and unhelpful compared to the original description. I like the 40 characters guideline, but the example is weak.
[code]

I think it'd be better to recommend a clear context:
[code]

[2020-08-19 20:52] akz92 commented on #4
I agree @ChaelCodes, your suggestion is much more descriptive of the actual context

[2020-11-11 10:32] schmijos commented on #3
I miss **"but"** even more. Consider this example:

[code]

Even if _betterspecs_ doesn't suggest to use a lot of nested contexts: people are doing it. So let's assume that there are many nested contexts in reality:

Contexts are really helpful for branching, but they could be much more helpful if we could **mark edge cases explicitly**. I'd propose to suggest "but" in nested contexts for edge cas

[2020-11-23 03:38] bibinvenugopal commented on #6
This could create duplicate tests isn't it?
[code]

[2020-12-08 10:24] rangeoshun commented on #15
The change has started:

https://www.rubydoc.info/gems/rubocop-rspec/1.2.1/RuboCop/Cop/RSpec/ExampleWording

[2021-02-18 14:22] juanmanuelramallo commented on #13
What about this https://stackoverflow.com/questions/6453235/what-does-damp-not-dry-mean-when-talking-about-unit-tests ?

Isn't DRY a bad idea for tests? (in general)

[2021-02-18 17:37] george-distiller commented on #13
Yep, I agree that DAMP is often better than DRY in specs.

It's a trade off between dryness and readability. That SO question is excellent.

Testing is an art, not a science. So I think there is room for personal style here...

[2021-06-01 21:42] evanboho commented on #192
For newcomers to RSpec, they _should_ start with `expect().to` and then eventually graduate to one-liners. But, really, we are not expected to base such recommendations on what is good for neophytes.

I'm a pretty seasoned RSpec user and I still can get confused around where underscores and dots go in certain cases. `is_expected.to` is incredibly awkward to type due to such special characters, has

[2021-08-06 20:19] jvortmann commented on #2
I want to start by setting some definitions clear to remove some of the confusions that I have
noticed since the start of the thread.
First, BDD (Behavioral Driven Design) is focused on the behavior of the system or part of it, not
`methods`. Secondly, Unit test refers to a system's unit, not a `method` as well. So a `Car` class,
for instance, is a Unit in the system and its unit tests mock all it

[2021-10-15 11:53] thiagows2 commented on #9
you can use mock-based testing for some parts of your system, and classical testing for other parts.

This is really the only way to go about it. And demonstrates that "mocking" is an art!

[2021-12-16 00:51] philipfong commented on #83
@kigster do you have any guidance on how to set an alias when it is officially removed? I am a little lost as to how to maintain `should` syntax.

[2021-12-17 04:01] kigster commented on #83
Since these are likely simple methods you can just alias them like this, say in ruby:

[code]

But I don't think you need to worry about it. It's ok to break the API as long you increment the major version and document it in the CHANGELOG.

[2022-02-02 21:05] megatux commented on #3
Interesting. I really dislike "and" in nested context but I've seen a similar use case to "but ..." with "except ..."

[2022-03-14 01:25] lekhasy commented on #15
If you can't convince the world to think like you, why don't you just give them freedom by default?

Personally, I use the "should" word a lot, not only in TDD, BDD, but in daily communication with my client, with my colleague.
The word "should" makes our brain think differently, it think about what the system gonna do for us, not how, and that lead to better tests.
And this is Ruby, right? Why do

[2022-03-20 10:41] Potherca commented on #15
Being a non-ruby dev, coming from a background where definitions of words are heavily specified (for instance [RFC 2119](https://datatracker.ietf.org/doc/html/rfc2119) MUST / SHALL / SHOULD / MAY) and _the same words_ being used in both code and business domains, can someone tell me if this should vs. no-should thing is more about the wording or the (Rspec) syntax?

[2022-03-22 20:01] akz92 commented on #15
Hi @Potherca, in my understanding it is not a difference in meaning, it is more of an (IMO) improvement in RSpec's syntax and consequently in wording to make tests easier to read. This is somewhat frequent in the Ruby ecosystem as the language itself tries to make it possible to write code that read similar to how you'd write it in plain English.

[2022-03-23 11:27] Potherca commented on #15
Ah, cool. Thanks for the information!

[2022-04-23 00:35] liijunwei opened #230 "Broken link on "Here a nice presentation explaining how to mix them together.""
https://github.com/betterspecs/betterspecs/blob/d95c2cba8bb3d19cb8959683b516ae54cce8a221/_i18n/en.yml#L248
![image](https://user-images.githubusercontent.com/48843657/164838605-066fbc17-1e5e-4ff3-a644-3551e84fd04c.png)

[2022-05-19 10:14] zameo94 commented on #5
Hi, i have a question.
In this example:
it { is_expected.to eq(true) }
how can i test the .class ?
Something like that not work:
it { is_expected.class.to eq(true) }
Thank you

[2022-05-19 12:55] akz92 commented on #5
@zameo94 `is_expected` is essentially a shorthand for `expect(subject)` so I see two possible options for you:

1. Use a regular expect to get the subject's class:
[code]

2. If you are going to write multiple expectations you could set the class as the subject and use the `is_expected` shorthand:
[code]

[2022-05-19 13:03] zameo94 commented on #5
@akz92 thank you

[2022-05-24 15:07] #230 closed, assigned to akz92

[2022-09-01 06:25] ignaciomgu opened #233 "Integration specs: what about of using expectations inside "let" blocks"
A community style guide for integration specs (capybara/rails) guides other uses of the `let` block, for example, incorporating expectations within `let` blocks.

[code]

There is no specification about it, though; here is the definition right from the docs:

So that means that if you call let multiple times in the `let`, it evaluates the `let` block just once (the first time it’s called), so it i